$black-gradient: linear-gradient(180deg, #1e1e1e 0%, #161616 64.06%, #111111 100%);
$white-gradient: linear-gradient(180deg, #ffffff 0%, #ffffff 75.52%, #518fff 100%);
$blue-gradient: linear-gradient(180deg, #0063cb 0%, #000091 100%), #0063cb;
$blue-gradient-redirection: linear-gradient(0deg, #9a9aff 0%, #518fff 96.15%);
$small-blue-gradient: linear-gradient(0deg, #3558a2, #9a9aff) border-box;
$segment-gradient: linear-gradient(360deg, #3558a2 65.63%, #9a9aff 100%);
$mask-gradient:
  linear-gradient(#fff 0 0) padding-box,
  linear-gradient(#fff 0 0);
$red-gradient: linear-gradient(0deg, red, orange) border-box;
$errorDarkMode: #ff3333;
$background: #1e1e1e;
$blue: #2b8bf7;

$lieuRattachementSelected: url(../../../public/logos/cra/logo-lieu-rattachement-selected.svg) no-repeat;
$lieuRattachementActif: url(../../../public/logos/cra/logo-lieu-rattachement-actif.svg) no-repeat;
$lieuRattachement: url(../../../public/logos/cra/logo-lieu-rattachement.svg) no-repeat;
$lieuAutre: url(../../../public/logos/cra/logo-autre-lieu.svg) no-repeat;
$lieuDistance: url(../../../public/logos/cra/logo-a-distance.svg) no-repeat;
$lieuDomicile: url(../../../public/logos/cra/logo-a-domicile.svg) no-repeat;
$calendrier: url(../../../public/logos/cra/logo-calendrier.svg) no-repeat;
$lieuRattachementHover: url(../../../public/logos/cra/logo-lieu-rattachement-n.svg) no-repeat;
$lieuAutreHover: url(../../../public/logos/cra/logo-autre-lieu-n.svg) no-repeat;
$lieuDistanceHover: url(../../../public/logos/cra/logo-a-distance-n.svg) no-repeat;
$lieuDomicileHover: url(../../../public/logos/cra/logo-a-domicile-n.svg) no-repeat;
$calendrierHover: url(../../../public/logos/cra/logo-calendrier-n.svg) no-repeat;

$diagnostic: url(../../../public/logos/cra/logo-diagnostic-numerique.svg) no-repeat;
$equipeInfo: url(../../../public/logos/cra/logo-equip-info.svg) no-repeat;
$cultureNum: url(../../../public/logos/cra/logo-culture.svg) no-repeat;
$navigateur: url(../../../public/logos/cra/logo-naviguer.svg) no-repeat;
$securite: url(../../../public/logos/cra/logo-securite.svg) no-repeat;
$courriel: url(../../../public/logos/cra/logo-courriel.svg) no-repeat;
$echanger: url(../../../public/logos/cra/logo-echanger-proches.svg) no-repeat;
$bureautique: url(../../../public/logos/cra/logo-bureautique.svg) no-repeat;
$contenus: url(../../../public/logos/cra/logo-contenus-numeriques.svg) no-repeat;
$emploi: url(../../../public/logos/cra/logo-emploi.svg) no-repeat;
$tpePme: url(../../../public/logos/cra/logo-tpe-pme.svg) no-repeat;
$accompagner: url(../../../public/logos/cra/logo-accompagner-enfant.svg) no-repeat;
$demarche: url(../../../public/logos/cra/logo-demarches.svg) no-repeat;
$fraude: url(../../../public/logos/cra/logo-fraude.svg) no-repeat;
$budget: url(../../../public/logos/cra/logo-budget.svg) no-repeat;
$sante: url(../../../public/logos/cra/logo-sante.svg) no-repeat;
$suggestion: url(../../../public/logos/cra/logo-suggestion.svg) no-repeat;
$suggestionInactif: url(../../../public/logos/cra/logo-suggestion-inactif.svg) no-repeat;
$scolaire: url(../../../public/logos/cra/logo-scolaire.svg) no-repeat;
$autre: url(../../../public/logos/cra/logo-autre.svg) no-repeat;

$diagnosticSelected: url(../../../public/logos/cra/logo-diagnostic-numerique-n.svg) no-repeat;
$equipeInfoSelected: url(../../../public/logos/cra/logo-equip-info-n.svg) no-repeat;
$cultureNumSelected: url(../../../public/logos/cra/logo-culture-n.svg) no-repeat;
$navigateurSelected: url(../../../public/logos/cra/logo-naviguer-n.svg) no-repeat;
$securiteSelected: url(../../../public/logos/cra/logo-securite-n.svg) no-repeat;
$courrielSelected: url(../../../public/logos/cra/logo-courriel-n.svg) no-repeat;
$echangerSelected: url(../../../public/logos/cra/logo-echanger-proches-n.svg) no-repeat;
$bureautiqueSelected: url(../../../public/logos/cra/logo-bureautique-n.svg) no-repeat;
$contenusSelected: url(../../../public/logos/cra/logo-contenus-numeriques-n.svg) no-repeat;
$emploiSelected: url(../../../public/logos/cra/logo-emploi-n.svg) no-repeat;
$tpePmeSelected: url(../../../public/logos/cra/logo-tpe-pme-n.svg) no-repeat;
$accompagnerSelected: url(../../../public/logos/cra/logo-accompagner-enfant-n.svg) no-repeat;
$demarcheSelected: url(../../../public/logos/cra/logo-demarches-n.svg) no-repeat;
$fraudeSelected: url(../../../public/logos/cra/logo-fraude-n.svg) no-repeat;
$budgetSelected: url(../../../public/logos/cra/logo-budget-n.svg) no-repeat;
$santeSelected: url(../../../public/logos/cra/logo-sante-n.svg) no-repeat;
$suggestionSelected: url(../../../public/logos/cra/logo-suggestion-n.svg) no-repeat;
$scolaireSelected: url(../../../public/logos/cra/logo-scolaire-n.svg) no-repeat;
$autreSelected: url(../../../public/logos/cra/logo-autre-n.svg) no-repeat;

$individuel: url(../../../public/logos/cra/logo-acc-individuel.svg) no-repeat;
$atelier: url(../../../public/logos/cra/logo-atelier.svg) no-repeat;
$logoDemande: url(../../../public/logos/cra/logo-demande-ponctuelle.svg) no-repeat;
$redirection: url(../../../public/logos/cra/logo-redirection-structure.svg) no-repeat;

$individuelSelected: url(../../../public/logos/cra/logo-acc-individuel-n.svg) no-repeat;
$atelierSelected: url(../../../public/logos/cra/logo-atelier-n.svg) no-repeat;
$logoDemandeSelected: url(../../../public/logos/cra/logo-demande-ponctuelle-n.svg) no-repeat;
$redirectionSelected: url(../../../public/logos/cra/logo-redirection-structure-n.svg) no-repeat;

.cra {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .espacement {
    margin-bottom: 3.75rem !important;
  }
  *:focus {
    outline: none;
  }
  .a-propos {
    background-image: none;
    display: inline-block;
    text-decoration: none;
    margin-right: -18px;
    line-height: 24px;
    letter-spacing: 0;
    color: #929292;
    font-size: 14px;
  }
  .url-a-propos {
    text-align: right;
    margin-top: 18px;
  }
  .information {
    position: relative;
    margin-left: 5px;
    color: #518fff;
    cursor: pointer;
    top: 2px;
  }
  .close-information {
    display: none;
  }
  .information-message,
  .information-message-important {
    position: relative;
    color: #518fff;
    padding: 10px 10px 0 0;
    font-size: 14px;
    width: 264px;
    a {
      font-size: 14px;
    }
    div {
      position: relative;
      font-size: 14px;
      top: 5px;
    }
  }
  .information-message-important {
    text-align: center;
    margin: 0 auto;
    width: 83%;
  }
  .information-message-theme {
    color: #518fff;
    font-size: 14px;
    padding: 8px 16px 40px 8px;
  }
  .open-information {
    position: relative;
  }
  .q1 {
    top: -83px;
  }
  .info-rattachement {
    top: -109px;
  }
  .info-autre {
    top: -86px;
  }
  .info-dom-dis-message {
    top: 30px;
  }
  @supports (-moz-appearance: none) {
    .q1 {
      top: -98px;
    }
    .info-rattachement {
      top: -139px;
    }
    .info-autre {
      top: -114px;
    }
    .info-dom-dis-message {
      top: 0px;
    }
  }
  .q2 {
    top: -41px;
  }
  .q3 {
    top: -29px;
  }
  .q6 {
    top: 0px;
  }
  .info-rattachement,
  .info-autre,
  .info-date-dist-dom,
  .info-individuel,
  .info-ponctuelle,
  .info-collectif,
  .info-diagnostic,
  .info-naviguer,
  .info-fraude,
  .info-demarche,
  .info-pro,
  .info-aidant,
  .info-scolaire,
  .info-suggestion,
  .info-top-12,
  .info-top-24,
  .info-top-34 {
    position: relative;
  }
  .info-demarche,
  .info-suggestion {
    top: 24px;
  }
  .info-fraude {
    top: 11px;
    @supports (-moz-appearance: none) {
      top: 22px;
    }
  }
  .info-naviguer,
  .info-pro {
    top: 12px;
  }
  .info-ponctuelle {
    top: 0px;
  }
  .info-top-12,
  .info-individuel,
  .info-collectif {
    top: -12px;
  }
  .info-scolaire {
    top: -14px;
  }
  .info-top-24 {
    top: -24px;
  }
  .info-diagnostic {
    top: -27px;
  }
  .info-top-34 {
    top: -34px;
  }
  .info-aidant {
    top: -36px;
  }
  .questionRequired,
  .labelError {
    color: $errorDarkMode;
  }

  .questionRequired::after {
    content: " * ";
  }
  .dropdown {
    position: relative;
    z-index: 1;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $background;
    border-radius: 20px;
    cursor: pointer;
  }

  div.scrollOptions {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
  }

  .dropdown-content:hover,
  .dropdown-content:focus {
    outline: none;
  }

  .dropdown-content div div {
    padding: 8px;
    text-align: center;
  }

  .dropdown-content div div:hover {
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
  }

  .show {
    display: block;
  }

  .responsiveSelect,
  .responsiveRecurrence {
    width: calc(810% / 12 - 271px);
    padding-left: 0.75rem;
  }

  .lessRecurrence,
  .moreRecurrence {
    border-radius: 20px 0 0 0;
    border: 1px solid $background;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 51px;
    width: 25%;
    &:hover {
      background-color: $background;
      .labelCalculCustom {
        color: #fff;
      }
    }
  }
  .lessRecurrence {
    margin-top: 0px;
    padding-top: 5px;
    border-radius: 0 0 0 20px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: none;
  }
  .labelRecurrence,
  .labelRecurrence-alt {
    display: inline-block;
    position: relative;
    bottom: 67px;
    width: 75%;
    left: 11.5%;
    span {
      position: relative;
      font-size: 2rem;
      right: 6px;
      top: 6px;
    }
  }
  .labelRecurrence-alt {
    bottom: -32px;
    width: 100%;
    left: 0;
  }

  .radioButtonRedirection {
    margin-top: -323px;
    .radioRattachement {
      border-radius: 0 0 20px 20px !important;
    }
  }
  .selectAccompagnementRedirection {
    width: 270px;
    height: 350px;
    margin-bottom: -27px;
  }
  .blockListe {
    background-color: #ffffff;
    border-radius: 20px;
    height: 350px;
    width: 100%;
  }
  .listRedirection {
    list-style: none;
    margin: 20px 0 0;
    overflow: auto;
    color: #000;
    height: 200px;
    width: 100%;
    padding: 0;
    &::-webkit-scrollbar {
      width: 16px;
      height: 48px;
      border-radius: 8px;
      // background-color: #cccccc
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #909090;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  .listeOrganismesSelected {
    width: 100%;
    overflow: auto;
  }
  .fresqueOrganismes {
    height: 72px;
    padding: 20px 0;
  }
  .selecteurList {
    text-align: left;
    padding: 1em 2em;
    height: 48px;
  }
  .selecteurList:hover,
  .selecteurList:active {
    color: #fff;
    width: auto;
    background: $blue-gradient;
  }
  .styleInputAutre {
    border-top: solid 1px #3558a2;
    background-color: #fff;
    padding: 1em 2em;
    font-size: 1rem;
    text-align: left;
    color: #000;
    height: 48px;
    width: 100%;
    &:hover,
    &:focus,
    &:active {
      background: $blue-gradient;
      border-color: #3558a2;
      color: #fff;
    }
  }
  .styleInputValueOrganisme {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    width: 100%;
  }
  .styleLiButtonsRedirection {
    padding: 20px 0px;
    overflow: auto;
    width: 1000px;
  }
  .styleLiButtonEnregistrer,
  .styleLiButtonEnregistrerDisabled {
    background-color: #43009e;
    text-align: center;
    padding-top: 5px;
    height: 36px;
  }
  .styleLiButtonEnregistrerDisabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  .styleButtonEnregistrer,
  .styleButtonEnregistrerDisabled {
    background-color: #43009e;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    &:hover {
      background: none !important;
      background-color: #43009e !important;
    }
  }
  .styleButtonEnregistrerDisabled {
    background-color: #aaa;
    cursor: not-allowed;
    color: #666;
    &:hover {
      background: none !important;
      background-color: #aaa !important;
    }
  }
  .styleButtonRedirection {
    border: solid 1px #5398ff;
    border-radius: 0 0 20px 20px;
    position: relative;
    max-height: 250px;
  }

  .baseline {
    color: #919191;
    font-size: 14px;
  }
  .ageStatusValueSmallCount {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
  }
  .ageStatusLabelSmallCount {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
  }

  .radioRattachementAlt {
    height: 104px;
  }

  .buttonRecurrence {
    height: 104px;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    background-color: $background;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
  }

  .buttonRecurrence-filled {
    border: 1px solid white;
    background-color: white;
    border-color: white;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: black;
    height: 104px;
    width: 100%;
  }

  .fr-checkbox-group span label {
    font-size: 0.8rem !important;
    margin-right: 5px;
  }

  /* custom point de rupture LG du DS */
  @media (max-width: 1024px) {
    .responsiveRecurrence {
      padding-left: 0.5rem;
    }
  }

  @media (max-width: 1210px) {
    .theme-height {
      height: 320px;
      top: 0px !important;
    }
  }
  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {
    .questionResponsive {
      text-align: center;
      margin: auto;
    }
    .responsiveRecurrence {
      width: calc(1000% / 12);
      margin: 0 auto;
      padding-left: 0.5rem;
    }
    .labelRecurrence span {
      display: block;
      top: -15px;
      right: 0;
    }
    .information-message-important {
      width: 100%;
    }
  }

  /* custom point de rupture SM du DS */
  @media (max-width: 576px) {
    .questionResponsive {
      width: calc(1200% / 12);
    }

    .responsiveRecurrence {
      width: calc(1200% / 12);
      padding-left: 0.5rem;
    }
  }
  /** START RADIO CANAL & ACTIVITY **/
  .radioRattachement,
  .radioRattachementAlt {
    width: 100%;
    border-radius: 20px;
    background: $black-gradient;
    cursor: pointer;
    height: 144px;
    padding: 0px;
  }

  .radioRattachement-selected {
    background: $white-gradient !important;
    color: black !important;
    span {
      color: #000 !important;
      .selectionner-autre {
        color: #666666 !important;
        font-size: 14px !important;
      }
    }
    .logoIndividuel {
      background: $individuelSelected !important;
    }
    .logoDemande {
      background: $logoDemandeSelected !important;
    }
  }

  .labelBigRadioCustom {
    padding-top: 2.5rem;
  }

  .countRadioLabel {
    border-bottom: 1.5px solid black;
    height: 78px;
  }

  .countRadioCalcul {
    width: 50%;
    height: 51px;
    display: inline-block;
    margin-bottom: -14px;
  }

  .countRadioCalcul:hover {
    background: $blue-gradient;
    border-radius: 0 0 0 20px;

    .labelCalculCustom {
      color: white !important;
    }
  }

  .countRadioCalcul ~ .countRadioCalcul:hover {
    border-radius: 0 0 20px 0;
  }

  .labelCalculCustom {
    margin-top: 5px;
    font-size: 2.5rem;
    color: black;
  }

  .countSmallRadioCalcul {
    .labelCalculCustom {
      margin-top: 0px;
      padding-top: 10px;
    }
  }

  .responsiveRadioCanal1,
  .responsiveRadioCanal2,
  .responsiveRadioActivity1,
  .responsiveRadioActivity2,
  .responsiveRadioActivity3Big {
    width: calc(266% / 12);
  }

  .responsiveRadioCanal1,
  .responsiveRadioActivity1 {
    margin-left: 0.75rem;
  }

  .responsiveRadioCanalVertical {
    align-self: flex-start;
    width: calc(266% / 12);
  }

  .responsiveRadioActivity3Small {
    display: none;
  }

  .lieuRattachement,
  .atelierCollectif,
  .accIndividuel,
  .demPonctuelle {
    height: 28px;
  }

  .autreLieu {
    height: 26px;
  }

  .distance,
  .domicile {
    display: flex;
  }

  /* custom point de rupture LG du DS */
  @media (max-width: 1024px) {
    .responsiveRadioCanal1,
    .responsiveRadioActivity1 {
      margin-left: 0.5rem;
    }
  }
  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {
    .responsiveRadioCanal1,
    .responsiveRadioActivity1 {
      width: calc(500% / 12);
      margin-left: calc(100% / 12);
      padding-left: 0.5rem;
    }

    .responsiveRadioCanal2,
    .responsiveRadioActivity2 {
      width: calc(500% / 12);
    }

    .responsiveRadioActivity3Big {
      display: none;
    }

    .responsiveRadioActivity3Small {
      display: block;
      margin-left: calc(100% / 12);
      width: calc(1000% / 12);
      padding-left: 0.5rem;
    }

    .responsiveRadioCanalVertical {
      width: calc(10000% / 12);
      margin-left: calc(100% / 12);
      display: flex;
      padding-left: 0.5rem;
    }

    .responsiveRadioCanalVertical .radioRattachement {
      margin-bottom: 0.5rem;
    }

    .responsiveRadioCanalVertical .radioButton {
      width: calc(550% / 12);
    }

    .responsiveRadioCanalVertical .radioButton:first-child {
      width: calc(540% / 12);
    }
  }
  /* custom point de rupture SM du DS */
  @media (max-width: 576px) {
    .responsiveRadioCanal1,
    .responsiveRadioActivity1,
    .responsiveRadioCanal2,
    .responsiveRadioActivity2 {
      width: calc(600% / 12);
      margin-left: 0;
    }

    .responsiveRadioActivity3Small {
      width: calc(12000% / 12);
      margin-left: 0;
    }

    .responsiveRadioCanalVertical {
      width: calc(1200% / 12);
      margin-left: 0;
    }

    .responsiveRadioCanalVertical .radioButton {
      width: calc(605% / 12);
    }

    .responsiveRadioCanalVertical .radioButton:first-child {
      width: calc(595% / 12);
    }
  }
  /** END RADIO CANAL & ACTIVITY **/

  /** START SQUARE BUTTON AGE AND STATUT **/
  .squareRattachement,
  .squareRattachementAlt {
    width: 100%;
    height: 104px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: $background;
    cursor: pointer;
  }

  .squareRattachement-selected {
    background-color: white !important;
    color: black !important;
  }

  .squareLabel {
    font-size: 16px;
  }

  .responsiveSquare1,
  .responsiveSquare2,
  .responsiveSquare3,
  .responsiveSquare4,
  .responsiveSquare5 {
    width: calc(160% / 12);
  }

  .responsiveSquare1 {
    margin-left: 0.75rem;
  }
  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {
    .responsiveSquare1 {
      width: calc(200% / 12);
      margin-left: calc(100% / 12);
      padding-left: 0.5rem;
    }

    .responsiveSquare2,
    .responsiveSquare3,
    .responsiveSquare4,
    .responsiveSquare5 {
      width: calc(200% / 12);
    }
  }
  /* custom point de rupture SM du DS */
  @media (max-width: 576px) {
    .responsiveSquare1,
    .responsiveSquare2 {
      width: calc(600% / 12);
      margin-left: 0;
    }

    .responsiveSquare3 {
      width: calc(600% / 12);
      padding-left: 0.5rem;
    }

    .responsiveSquare4 {
      width: calc(600% / 12);
    }

    .responsiveSquare5 {
      width: calc(1200% / 12);
      padding-left: 0.5rem;
    }

    .squareRattachement {
      height: 73px;
    }
  }
  /** END SQUARE BUTTON AGE AND STATUT **/
  /** START SQUARE BUTTON TIME **/
  .responsiveSquareTime1,
  .responsiveSquareTime2,
  .responsiveSquareTime3 {
    width: calc(266% / 12);
  }

  .responsiveSquareTime1 {
    margin-left: 0.75rem;
  }

  .countSmallRadioLabel {
    border-bottom: 1.5px solid black;
    height: 38px;
  }

  .countSmallRadioCalcul {
    width: 50%;
    height: 51px;
    display: inline-block;
    margin-bottom: -14px;
  }

  .countSmallRadioCalcul:hover {
    background-color: $background;
    border-radius: 0 0 0 20px;

    .labelCalculCustom {
      color: white;
    }
  }

  .countSmallRadioCalcul ~ .countSmallRadioCalcul:hover {
    border-radius: 0 0 20px 0;
  }

  .countSmallSquareLabel {
    border-bottom: 1.5px solid black;
    height: 68px;
  }

  .countSmallSquareCalcul {
    width: 50%;
    height: 33px;
    display: inline-block;
    margin-bottom: -14px;
    .labelCalculCustom {
      margin-top: 0px;
    }
  }

  .countSmallSquareCalcul:hover {
    background-color: $background;
    border-radius: 0 0 0 20px;

    .labelCalculCustom {
      color: white;
    }
  }

  .countSmallSquareCalcul ~ .countSmallSquareCalcul:hover {
    border-radius: 0 0 20px 0;
  }

  .labelSmallCount {
    color: black;
    font-size: 24px;
  }
  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {
    .responsiveSquareTime1 {
      width: calc(333% / 12);
      margin-left: calc(100% / 12);
      padding-left: 0.5rem;
    }

    .responsiveSquareTime2,
    .responsiveSquareTime3 {
      width: calc(333% / 12);
    }
  }

  @media (max-width: 576px) {
    .responsiveSquareTime1,
    .responsiveSquareTime2,
    .responsiveSquareTime3 {
      margin-left: 0;
      width: calc(400% / 12);
    }

    .responsiveSquareTime1 .squareRattachement,
    .responsiveSquareTime2 .squareRattachement,
    .responsiveSquareTime3 .squareRattachement {
      height: 80px;
    }

    .countSmallRadioLabel {
      height: 28px;
    }

    .countSmallRadioCalcul {
      height: 45px;
    }

    .SmallCountRadioButton .radioRattachement {
      height: 80px !important;
    }
  }
  /** END SQUARE BUTTON TIME **/
  /** START CHECKBOX BUTTON THEMES **/
  .gradient-box,
  .gradient-box-blue,
  .inactif-box {
    background: $black-gradient;
    border: solid 1px transparent;
    background-clip: padding-box;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: $small-blue-gradient;
    }
  }
  .gradient-box-blue {
    background: $blue-gradient-redirection;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: $blue-gradient-redirection;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    .gradient-box button:hover,
    .gradient-box-redirection {
      background: $white-gradient;
      .radioRattachement {
        color: #000;
      }
    }
  }
  .gradient-box-redirection {
    .fr-label {
      color: #000 !important;
    }
    .logoRedirection {
      background: $redirectionSelected !important;
    }
  }
  .border-top-none {
    border-radius: 0 0 20px 20px !important;
    margin-top: -27px;
  }
  .inactif-box:after {
    background: #666666 !important;
  }
  .checkboxButton {
    .checkboxRattachement2 {
      background: $black-gradient;
      border-radius: 20px;
      cursor: pointer;
      width: 100%;
      .baseline,
      .text-suggestion-inactif {
        color: #666666 !important;
      }
      .text-suggestion {
        color: #8585f6;
        overflow: auto;
      }
      @media (hover: hover) and (pointer: fine) {
        &.inactif-btn:hover {
          background: $black-gradient;
          cursor: not-allowed;
        }
        &:hover {
          background: $white-gradient;
          color: black !important;
          span {
            color: black;
          }
          .diagnostic {
            background: $diagnosticSelected;
          }
          .equipement {
            background: $equipeInfoSelected;
          }
          .cultureNumerique {
            background: $cultureNumSelected;
          }
          .navigateur {
            background: $navigateurSelected;
          }
          .securite {
            background: $securiteSelected;
          }
          .courriel {
            background: $courrielSelected;
          }
          .echanger {
            background: $echangerSelected;
          }
          .bureautique {
            background: $bureautiqueSelected;
          }
          .contenus {
            background: $contenusSelected;
          }
          .emploi {
            background: $emploiSelected;
          }
          .tpePme {
            background: $tpePmeSelected;
          }
          .accompagner {
            background: $accompagnerSelected;
          }
          .demarche {
            background: $demarcheSelected;
          }
          .fraude {
            background: $fraudeSelected;
          }
          .budget {
            background: $budgetSelected;
          }
          .sante {
            background: $santeSelected;
          }
          .scolaire {
            background: $scolaireSelected;
          }
          .suggestion {
            background: $suggestionSelected;
          }
          .suggestionInactif {
            background: $suggestionInactif;
          }
          .text-suggestion {
            color: #8585f6;
          }
        }
      }
      .imageTheme {
        margin: 24px;
        width: 56px;
        height: 56px;
      }
      .diagnostic {
        background: $diagnostic;
      }
      .diagnosticSelected {
        background: $diagnosticSelected;
      }
      .equipement {
        background: $equipeInfo;
      }
      .equipementSelected {
        background: $equipeInfoSelected;
      }
      .cultureNumerique {
        background: $cultureNum;
      }
      .cultureNumeriqueSelected {
        background: $cultureNumSelected;
      }
      .navigateur {
        background: $navigateur;
      }
      .navigateurSelected {
        background: $navigateurSelected;
      }
      .securite {
        background: $securite;
      }
      .securiteSelected {
        background: $securiteSelected;
      }
      .courriel {
        background: $courriel;
      }
      .courrielSelected {
        background: $courrielSelected;
      }
      .echanger {
        background: $echanger;
      }
      .echangerSelected {
        background: $echangerSelected;
      }
      .bureautique {
        background: $bureautique;
      }
      .bureautiqueSelected {
        background: $bureautiqueSelected;
      }
      .contenus {
        background: $contenus;
      }
      .contenusSelected {
        background: $contenusSelected;
      }
      .emploi {
        background: $emploi;
      }
      .emploiSelected {
        background: $emploiSelected;
      }
      .tpePme {
        background: $tpePme;
      }
      .tpePmeSelected {
        background: $tpePmeSelected;
      }
      .accompagner {
        background: $accompagner;
      }
      .accompagnerSelected {
        background: $accompagnerSelected;
      }
      .demarche {
        background: $demarche;
      }
      .demarcheSelected {
        background: $demarcheSelected;
      }
      .fraude {
        background: $fraude;
      }
      .fraudeSelected {
        background: $fraudeSelected;
      }
      .budget {
        background: $budget;
      }
      .budgetSelected {
        background: $budgetSelected;
      }
      .sante {
        background: $sante;
      }
      .santeSelected {
        background: $santeSelected;
      }
      .suggestion {
        background: $suggestion;
      }
      .suggestionSelected {
        background: $suggestionSelected;
      }
      .suggestionInactif {
        background: $suggestionInactif;
        cursor: not-allowed;
      }
      .scolaire {
        background: $scolaire;
      }
      .scolaireSelected {
        background: $scolaireSelected;
      }
      .autre {
        background: $autre;
      }
      .autreSelected {
        background: $autreSelected;
      }
    }
    .checkboxRattachement2-selected {
      background: $white-gradient;
      color: black !important;
      .baseline {
        color: #666666;
      }
    }
    .checkbox-selected-option {
      max-width: max-content;
    }
  }
  .checkboxRattachement {
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background-color: $background;
    cursor: pointer;
  }

  .checkboxRattachement-selected {
    color: black !important;
    .baseline {
      color: #2a2a2a;
    }
  }
  .labelCheckboxCustom {
    line-height: 24px;
    text-align: start;
    align-self: center;
  }
  .radioRattachement2 {
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }
  .responsiveCheckbox1,
  .responsiveCheckbox1_2 {
    width: calc(388% / 12);
    margin-left: 0.75rem;
  }

  .responsiveCheckbox2,
  .responsiveCheckbox2_1,
  .responsiveCheckbox3,
  .responsiveCheckbox3_1 {
    width: calc(388% / 12);
  }

  .responsiveCheckboxNewRow1 {
    width: calc(388% / 12);
    margin-left: calc(211% / 12);
  }

  .questionCheckboxResponsive {
    height: 108px;
  }
  .checkbox-selected {
    display: inline-grid;
    justify-items: center;
  }
  .fr-checkbox-group input[type="checkbox"] + label {
    // pour la couleur du label
    color: black;
  }

  .fr-checkbox-group input[type="checkbox" i] + label::before {
    // pour la couleur de la checkbox
    box-shadow: inset 0 0 0 1px black !important;
  }

  .fr-checkbox-group input[type="checkbox" i]:checked + label::before {
    // pour la couleur du check en svg
    --data-uri-svg: url(../../../public/logos/cra/checkbox-sous-menu.svg) !important;
    background-color: rgb(0, 0, 145);
  }
  @media (max-width: 991px) {
    .centre-titre {
      text-align: center;
    }
    .url-a-propos {
      text-align: center;
    }
    .labelCheckboxCustom {
      font-size: 12px;
    }
    .multi-select {
      margin-top: 5px !important;
      overflow: auto;
      width: 100%;
      height: 90px;
    }
    .responsiveCheckbox1,
    .responsiveCheckbox3_1,
    .responsiveCheckbox2_1,
    .responsiveCheckbox2,
    .responsiveCheckbox1_2,
    .responsiveCheckbox3 {
      width: 50%;
      margin-left: 0px;
    }
  }

  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {
    .questionCheckboxResponsive {
      text-align: center;
      height: unset;
    }
    .text-suggestion-inactif {
      overflow: auto;
      max-height: 100px;
    }
  }

  /* custom point de rupture SM du DS */
  @media (max-width: 576px) {
    .responsiveCheckbox1,
    .responsiveCheckbox2,
    .responsiveCheckbox1_2,
    .responsiveCheckbox3_1,
    .responsiveCheckbox2_1,
    .responsiveCheckbox3 {
      width: calc(1200% / 12);
      margin-left: 0;
      padding-left: 0.5rem;
    }

    .labelCheckboxCustom {
      font-size: 16px;
    }

    .questionCheckboxResponsive {
      margin-left: 0;
      width: calc(1200% / 12);
    }
  }
  /** END SQUARE BUTTON TIME **/

  .submitCra {
    background-color: white;
    width: 70%;
    border-radius: 48px;
    height: 96px;
    font-size: 20px;
  }

  .submitCra:hover,
  .submitCra:active {
    --color-hover: $background !important;
    --color-active: $background !important;
  }

  @media (max-width: 576px) {
    .submitResponsive {
      width: calc(800% / 12);
    }
  }

  /* CRA V3 */
  .icon-cra {
    width: 114px;
    height: 78px;
  }
  .titre {
    line-height: 64px;
    font-weight: 250;
    font-size: 56px;
    margin: 0;
  }
  .btn-guide {
    border: 1px solid #8585f6;
    background-image: none;
    display: inline-block;
    text-align: center;
    font-style: normal;
    padding-top: 8px;
    margin-top: 15px;
    color: #8585f6;
    font-size: 16px;
    height: 40px;
    width: 180px;
  }
  .question2 {
    height: 42px;
    font-size: 14px;
    font-weight: 100;
  }
  .responsiveElement2,
  .responsiveElementEnd2 {
    display: inline-block;
    border-radius: 20px;
    /** START SELECT CP **/
    .dropdown {
      background: $white-gradient;
      border-radius: 20px;
      position: absolute;
      cursor: pointer;
      height: 144px;
      z-index: 3;
    }
    .dropdown-content2 {
      height: 144px;
      display: none;
      width: 528px;
    }
    .buttonCP,
    .inputCP {
      background: $blue-gradient;
      border-radius: 20px 20px 0px 0px;
      line-height: 24px;
      font-weight: 700;
      font-size: 16px;
      display: none;
      color: #fff;
      width: 528px;
      height: 72px;
      &:hover {
        background: $blue-gradient;
        color: #fff;
      }
      div {
        text-align: center;
        line-height: 20px;
        font-weight: 400;
        font-size: 12px;
      }
    }
    .searchCP {
      margin: 12px 0px 0 9px;
      text-align: center;
      line-height: 24px;
      font-weight: 700;
      font-size: 16px;
      color: #fff;
      width: 510px;
    }
    div.scrollOptions2 {
      background: $white-gradient;
      border-radius: 0 0 20px 20px;
      overflow-x: hidden;
      max-height: 200px;
      line-height: 24px;
      overflow: scroll;
      color: #161616;
      font-weight: 700;
      font-size: 16px;
      div {
        padding: 12px 0 0 25px;
        height: 47px;
        &:hover {
          background: $blue-gradient;
          color: #fff;
        }
      }
    }
    .buttonCP-filled,
    .buttonPermanence-filled {
      background: $white-gradient;
      color: #2a2a2a;
      text-align: center;
      line-height: 24px;
      font-weight: 700;
      color: #162616;
      font-size: 16px;
      z-index: 3;
    }
    .buttonPermanence-filled {
      position: absolute;
    }
    .show {
      display: block;
    }
    .hide {
      display: none;
    }

    /** END SELECT CP **/
    button {
      background: $black-gradient;
      border-radius: 20px;
      color: #fff;
      height: 144px;
      width: 264px;
      .logoLieuRattachement,
      .logoAutreLieu {
        background: $lieuRattachement;
        display: inline-block;
        height: 56px;
        width: 56px;
      }
      .logoAutreLieu {
        background: $lieuAutre;
      }
      .logoCalendrier,
      .logoDistance,
      .logoDomicile {
        display: inline-block;
        height: 24px;
        width: 24px;
      }
      .logoCalendrier {
        background: $calendrier;
        margin: 0px 16px 0px 0px;
      }
      .logoDistance {
        background: $lieuDistance;
      }
      .logoDomicile {
        background: $lieuDomicile;
      }
      .texteDatePicker {
        position: relative;
        top: -5px;
      }
      .chevron-stats {
        margin: 0px 0px 0px 16px;
        position: relative;
        font-size: 2rem;
        top: 5px;
      }
      .labelSmallRadioCustom {
        position: relative;
        margin-left: 7px;
        font-size: 14px;
        bottom: 5px;
      }
      &:hover,
      &.selected {
        background: $white-gradient;
        color: #2a2a2a;
        .labelBigRadioCustom,
        .labelSmallRadioCustom {
          color: #2a2a2a;
        }
        .logoLieuRattachement {
          background: $lieuRattachementHover;
        }
        .logoAutreLieu {
          background: $lieuAutreHover;
        }
        .logoCalendrier {
          background: $calendrierHover;
        }
        .logoDistance {
          background: $lieuDistanceHover;
        }
        .logoDomicile {
          background: $lieuDomicileHover;
        }
      }
    }
    .logoRattachementSelected {
      background: $lieuRattachementSelected;
      margin: 5px auto;
      display: block;
      height: 56px;
      width: 33px;
    }
    #buttonPermanences {
      background: $white-gradient;
      border-radius: 20px;
      position: absolute;
      max-height: 344px;
      display: none;
      width: 528px;
      .listButtonPermanence {
        max-height: 311px;
        padding: 24px 0;
        overflow: auto;
        .buttonPermanence {
          background: none;
          border-radius: 0;
          text-align: left;
          width: 526px;
          height: 56px;
          border: none;
          .nomEnseigne {
            line-height: 24px;
            color: #2a2a2a;
            font-weight: 700;
            font-size: 16px;
          }
          .adresse {
            line-height: 20px;
            color: #929292;
            font-weight: 400;
            font-size: 12px;
          }
          &:hover {
            background: $blue-gradient;
            .nomEnseigne,
            .adresse {
              color: #fff;
            }
          }
        }
        .lieuActiviteAbsent {
          padding: 20px 0 0;
          color: #2a2a2a;
          margin: auto;
          height: 60px;
          width: 240px;
        }
      }
      .logoRattachementActif {
        background: $lieuRattachementActif;
        margin: 0px 8px 16px 24px;
        display: inline-block;
        height: 24px;
        width: 14px;
      }
      .lienPermanence {
        border-top: 1px solid #9a9aff;
        display: inline-block;
        padding-left: 46px;
        color: #000091;
        width: 526px;
        height: 33px;
      }
    }
  }
  #buttonPermanences.show {
    display: block;
  }
  .buttonDate {
    button {
      height: 72px;
    }
    .selectedDate {
      background: #fff;
      color: #2a2a2a;
      .logoCalendrier {
        background: $calendrierHover;
      }
    }
  }
  .radioButton2 {
    .radioRattachement {
      .logoIndividuel,
      .logoAtelier,
      .logoDemande,
      .logoRedirection {
        background: $individuel;
        display: inline-block;
        height: 56px;
        width: 56px;
      }
      .logoAtelier {
        background: $atelier;
      }
      .logoDemande {
        background: $logoDemande;
      }
      .logoRedirection {
        background: $redirection;
      }
      &:hover,
      &:active {
        span {
          color: #000 !important;
        }
        .logoIndividuel {
          background: $individuelSelected;
        }
        .logoAtelier {
          background: $atelierSelected;
        }
        .logoDemande {
          background: $logoDemandeSelected;
        }
        .logoRedirection {
          background: $redirectionSelected;
        }
      }
    }
    .radioRattachement2::after,
    .smallRadioRattachement2::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 20px;
      border: 1px solid transparent;
      background: $small-blue-gradient;
      -webkit-mask: $mask-gradient;
      mask: $mask-gradient;
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    .radioRattachement2 {
      border-radius: 20px;
      position: relative;
      z-index: 1;
    }
    .smallRadioRattachement2 {
      border-radius: 20px;
      position: relative;
      height: 72px;
      width: 131px;
    }
  }
  .buttonDate,
  .radioButton2.small {
    position: relative;
    top: 35px;
    @supports (-moz-appearance: none) {
      top: 8px;
    }
  }
  .radioButton2.small {
    display: inline;
  }
  .buttonError::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: $red-gradient !important;
    -webkit-mask: $mask-gradient;
    mask: $mask-gradient;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  .buttonError {
    border-radius: 20px;
    position: relative;
  }
  .disabled {
    border: 1px solid #3d3d3d !important;
    color: #3d3d3d !important;
    &::after,
    &:hover {
      border: 1px solid #3d3d3d !important;
      color: #3d3d3d !important;
      background: none !important;
    }
    .logoLieuRattachement {
      background: $lieuRattachementHover !important;
    }
    .logoAutreLieu {
      background: $lieuAutreHover !important;
    }
    .labelBigRadioCustom {
      color: #3d3d3d !important;
    }
  }
  .textInformation {
    margin: 15px 0 20px;
    text-align: center;
    font-size: 12px;
    width: 792px;
  }
  .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker {
    border-radius: 0 0 20px 20px;
    background-color: $background;
    border: 1px solid #8a8ae3;
    color: #fff;
    top: -25px;
    .react-datepicker-popper {
      margin: 0 !important;
    }
    .react-datepicker__navigation-icon::before {
      border-color: black;
    }
    .react-datepicker__navigation-icon:hover::before {
      border-color: gray;
    }
    .react-datepicker__navigation--previous {
      margin-left: 8px;
      height: 20px;
      width: 14px;
      top: 10px;
      background: none;
      &:hover {
        background: none;
      }
    }
    .react-datepicker__navigation--next {
      margin-right: 8px;
      border: none;
      height: 20px;
      top: 10px;
      width: 14px;
      background: none;
      &:hover {
        background: none;
      }
    }
    .react-datepicker__header {
      background-color: #fff;
      border-bottom: 1px solid #9a9aff;
      color: #161616;
      .react-datepicker__current-month,
      .react-datepicker-time__header,
      .react-datepicker-year-header {
        color: #161616;
      }
      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        color: #161616;
      }
      .react-datepicker__month {
        color: #161616;
      }
    }
    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      font-size: 16px;
      font-weight: 200;
      color: #161616;
      width: 1.48rem;
      height: 1.54rem;
      margin: 6px;
    }
    .react-datepicker__month-container {
      background: $white-gradient;
      border-radius: 0 0 20px 20px;
    }
    .react-datepicker__week {
      cursor: default;
    }
    .react-datepicker__day--outside-month {
      color: #666666;
    }
    .react-datepicker__day--disabled {
      color: #666666;
      cursor: default;
      &:hover {
        color: #666666;
      }
    }
    .react-datepicker__day:hover,
    .react-datepicker__month-text:hover,
    .react-datepicker__quarter-text:hover,
    .react-datepicker__year-text:hover {
      color: $background;
    }
    .react-datepicker__day--selected,
    .react-datepicker__day--keyboard-selected {
      color: #fff;
      background: $blue-gradient;
      border-radius: 8px;
    }
    .react-date-picker__calendar--open {
      top: 100% !important;
      bottom: unset !important;
    }
  }
  .react-datepicker__tab-loop {
    position: absolute;
    top: 0px;
    left: -93px;
  }
  .first-el {
    margin-left: 15px;
  }
  .selectionner-autre {
    color: #666666 !important;
    font-size: 14px !important;
  }
  .redirection-btn {
    background: $blue-gradient;
    padding: 4px 12px 4px 8px;
    display: inline-block;
    border-radius: 53px;
    margin-right: 12px;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    height: 32px;
    button {
      font-size: 14px;
      color: #fff;
      i {
        position: relative;
        top: 2px;
      }
      &:hover {
        background: none !important;
        color: #fff;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 1111px) {
    .responsiveElement2,
    .responsiveElementEnd2 {
      button {
        width: 231px;
      }
      button.smallRadioRattachement2 {
        width: 116px;
      }
      #buttonPermanences {
        width: 462px;
        .buttonPermanence {
          width: 100%;
        }
      }
      .buttonCP,
      .inputCP,
      .dropdown-content2,
      .searchCP {
        width: 462px;
      }
      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        height: 1.25rem;
        width: 1.25rem;
      }
      .react-datepicker__month-container {
        width: 230px;
      }
    }
    .information-message {
      width: 231px;
    }
    .info-rattachement {
      top: -95px;
      @supports (-moz-appearance: none) {
        top: -115px;
      }
    }
    .info-autre {
      top: -96px;
      @supports (-moz-appearance: none) {
        top: -114px;
      }
    }
    .width-message-pourcent {
      width: 100%;
    }
    .textInformation {
      width: 694px;
    }
    .buttonDate {
      top: 25px;
      @supports (-moz-appearance: none) {
        top: 8px;
      }
    }
    .smallRadioRattachement2 {
      top: -10px;
      @supports (-moz-appearance: none) {
        top: 0px;
      }
    }
    .q1 {
      top: -89px;
      @supports (-moz-appearance: none) {
        top: -98px;
      }
    }
  }
  @media (max-width: 1102px) {
    .q2 {
      top: -53px;
    }
    .info-collectif,
    .info-individuel {
      top: -24px;
    }
  }
  @media (max-width: 1060px) {
    .info-collectif {
      top: -12px;
    }
  }
  @media (max-width: 991px) {
    .centrer {
      text-align: center;
    }
  }
  @media (max-width: 912px) {
    .q2 {
      top: -53px;
    }
    .info-collectif,
    .info-ponctuelle {
      top: -24px;
    }
    .info-individuel {
      top: 0px;
    }
  }

  @media (min-width: 768px) and (max-width: 912px) {
    .individuel-height {
      height: 250px;
    }
    .activite-height {
      height: 200px;
    }
  }
  @media (max-width: 867px) {
    .responsiveElement2,
    .responsiveElementEnd2 {
      button {
        width: 192px;
      }
      button.smallRadioRattachement2 {
        width: 96px;
      }
      #buttonPermanences {
        width: 576px;
        .buttonPermanence {
          width: 100%;
        }
      }
      .buttonCP,
      .inputCP,
      .dropdown-content2,
      .searchCP {
        width: 384px;
      }
      .buttonDate {
        top: 25px;
        @supports (-moz-appearance: none) {
          top: 18px;
        }
      }
      .smallRadioRattachement2 {
        top: -10px;
        @supports (-moz-appearance: none) {
          top: 10px;
        }
      }
      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        font-size: 15px;
        height: 1.25rem;
        width: 0.9rem;
        margin: 5px;
      }
      .react-datepicker__month-container {
        width: 191px;
      }
    }
    .information-message {
      width: 190px;
    }
    .width-message-pourcent {
      width: 100%;
    }
    .q1 {
      top: -125px;
      @supports (-moz-appearance: none) {
        top: -128px;
      }
    }
    .info-rattachement {
      top: -167px;
      @supports (-moz-appearance: none) {
        top: -176px;
      }
    }
    .info-autre {
      top: -168px;
      @supports (-moz-appearance: none) {
        top: -175px;
      }
    }
    .textInformation {
      width: 576px;
    }
  }
  @media (max-width: 767px) {
    .titre {
      text-align: center;
      font-size: 28px;
      line-height: 40px;
    }
    .btn-guide {
      text-align: center;
    }
    .questionResponsive {
      text-align: center;
      margin: auto;
    }
    .responsiveElement2 {
      width: 50%;
      button {
        width: 100%;
      }
      #dropdown {
        display: none;
      }
      .dropdown {
        display: block;
        width: 48%;
      }
      .dropdown-content2,
      .buttonCP,
      .inputCP,
      .searchCP {
        width: 100%;
      }
      .buttonPermanence-filled {
        width: 48%;
      }
      .force-width {
        width: 100% !important;
      }
      #buttonPermanences {
        width: 96%;
        .listButtonPermanence .buttonPermanence {
          width: 100%;
        }
      }
    }
    .buttonCP-filled {
      width: 100%;
    }
    .textInformation {
      width: 100%;
    }
    .responsiveElementEnd2 {
      width: 100%;

      .buttonDate {
        top: 0px;
      }
      .smallRadioRattachement2 {
        top: -35px;
        @supports (-moz-appearance: none) {
          top: -8px;
        }
      }
      .react-datepicker {
        left: 93px;
        top: -27px;
      }
      .react-datepicker-wrapper,
      .react-datepicker__input-container,
      .react-datepicker__input-container button {
        width: 100%;
      }
      .react-datepicker__day-name,
      .react-datepicker__day,
      .react-datepicker__time-name {
        font-size: 16px;
        height: 1.5rem;
        width: 1.8rem;
        margin: 6px;
      }
      .react-datepicker__month-container {
        width: 100%;
      }
      *,
      ::after,
      ::before {
        width: 100%;
      }
      button.smallRadioRattachement2 {
        width: 50%;
      }
    }
    .q1,
    .q2,
    .q6,
    .info-rattachement,
    .info-autre,
    .info-top-12 {
      top: 0;
    }
    .info-collectif {
      top: 0px;
    }
    .information-message {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 683px) {
    .info-collectif {
      top: -12px;
    }
  }
  @media (max-width: 622px) {
    .info-collectif {
      top: -24px;
    }
  }
  @media (max-width: 586px) {
    .info-collectif {
      top: -12px;
    }
  }
  @media (max-width: 576px) {
    .responsiveElement2,
    .responsiveRadioActivity1,
    .responsiveRadioActivity2 {
      width: 100%;
    }
    .responsiveRadioActivity2 {
      margin-left: 8px;
    }
    .responsiveElement2 .dropdown,
    .responsiveElement2 .buttonPermanence-filled {
      width: 95%;
    }
    .information-message-theme {
      max-height: 225px;
    }
    .theme-height {
      max-height: 320px;
      height: auto;
    }
    .questionResponsive {
      width: calc(1200% / 12);
    }
    .info-collectif {
      top: 0px;
    }
  }
}
