.choosePassword, .forgotten-password {
  font-family: Marianne;
  letter-spacing: 0;

  .zone-titre {
    background-color: #2e2e2e;
    .titre {
      font-family: MarianneThin;
      text-align: center;
      font-size: 3.5rem;
      line-height: 4rem;
    }
    .sous-titre {
      line-height: 1.75rem;
      font-size: 1.25rem;
      text-align: center;
      color: #f0f0f0;
    }
  }
  .zone-etape1b {
    text-align: center;
  }
  .zone-etape1c {
    text-align: center;
  }
  .zone-mot-de-passe {
    background-color: #fff;
    background-image: url(/public/logos/fresque2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 108%;
    background-size: 34%;
    line-height: 1.5rem;
    color: #1e1e1e;
    font-size: 1rem;

    .titre {
      text-align: center;
      line-height: 2.25rem;
    }
    .cle {
      position: relative;
      top: 0.313rem;
    }
    .cle-precieuse {
      position: relative;
      top: 0.313rem;
    }
    .sous-titre {
      line-height: 1.75rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .chargement {
      margin: 33%;
    }
    .erreur-token {
      margin-top: 33%;
      margin-left: 33%;
    }
    .invalid {
      text-align: center;
      color: #e0000f;
    }
    .valid {
      text-align: center;
      color: #008941;
    }
    .rf-label {
      text-align: center;
      color: #1e1e1e;
    }
    .rf-hint-text {
      color: #1e1e1e;
    }
    .rf-input {
      color: #1e1e1e !important;
      background-color: #f0f0f0 !important;
      box-shadow: inset 0 -2px 0 0 #6a6a6a !important;
      text-align: center;
    }
    .btn-connexion {
      border: 1px solid #1e1e1e;
      background-color: #fff;
      box-sizing: border-box;
      border-radius: 40px;
      font-weight: 600;
      cursor: pointer;
      display: block;
      margin: auto;
      height: 64px;
      width: 272px;
    }
  }
  .zone-recapitulatif {
    background-color: #2e2e2e;
    line-height: 1.75rem;
    font-size: 1.25rem;
    text-align: center;
    .etape {
      font-weight: 300;
    }
    .enveloppe {
      position: relative;
      top: 0.938rem;
    }
    .avatar-pwd {
      margin-right: 1.18rem;
      position: relative;
      width: 2.4rem;
      top: 0.938rem;
    }
    .descriptif {
      font-weight: 600;
    }
    .recapitulatif {
      line-height: 1.5rem;
      font-size: 1rem;
    }
  }
  @media (max-width: 946px) {
    .br-titre{
      display: none;
    }
  }
  @media (max-width: 811px) {
    .zone-recapitulatif {
      .avatar-pwd {
        margin-right: 0.75rem;
        width: 1.625rem;
        top: 0.5rem;
      }
      .last{
        margin-right: 0rem;
      }
    }
  }
  @media (min-width: 777px) {
    .rf-mb-md-15w {
      margin-bottom: 7.5rem !important;
    }
  }
  @media (max-width: 776px) {
    .zone-mot-de-passe {
      background-position-x: 125%;
      background-position-y: 99%;
      background-size: 67%;
    }
  }
  @media (max-width: 599px) {
    .br-mail {
      display: none;
    }
  }
  @media (max-width: 576px) {
    .zone-titre {
      background-color: #2e2e2e;

      .titre {
        line-height: 2.5rem;
        font-size: 1.75rem;
      }
      .sous-titre {
        line-height: 1.5rem;
        font-weight: 500;
        font-size: 1rem;
      }
    }
    .zone-mot-de-passe {
      background-position-x: 100%;
      .invalid {
        font-size: 0.75rem !important;
      }
    }
  }
}
