.conseillerDetails {

  .titre {
    font-size: 56px;
    line-height: 72px;
    margin: 0;
    font-family: 'MarianneThin', Arial, sans-serif;
  }

  .circle-true, .circle-false {
    display: inline-block;
    margin-right: 16px;
  }

  .statistiques-btn {
    display: block;
    background-color: transparent;
    border: 1px solid #8585F6;
    text-align:center;
    box-shadow: none;
    font-size: 20px;
    line-height: 32px;
    cursor: pointer;
    color: #8585F6;
    padding: 21px;
  }
  .email {
    color: #9a9aff;
    box-shadow: none;
  }

  .image-banniere {
    display: inline-block;
    margin: 0 5px -3px 8px;
    width: 12px;
  }

  .blocCoordonnees {
    font-size: 14px;
    line-height: 24px;
    font-family: 'MarianneThin', Arial, sans-serif;
    color: #929292;
  }

  .breakWord {
    word-wrap: break-word;
    text-transform: capitalize;
  }

  @media (max-width: 992px) {
    .recrutementCol {
      margin-right: 16px;
    }
  }

  @media (max-width: 767px) {
    .titreCol {
      flex: 0 0 calc(1200%/12);
      width: calc(1200%/12);
      max-width: calc(1200%/12);
    }
  }

}
