$background: #1e1e1e;
$blue: #2B8BF7;

.cra {

  *:focus {
    outline: none;
  }

  .titre {
    font-size: 56px;
    line-height: 72px;
    margin: 0;
    font-family: 'MarianneThin', Arial, sans-serif;
  }

  /** START SELECT CP **/
  .question {
    height: 42px;
    font-size: 14px;
    font-weight: 100;
  }

  .buttonCP {
    height: 104px;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    background-color: $background;
    color: white;
    text-align: center;
    cursor: pointer;
    font-family: 'MarianneMedium', Arial, sans-serif!important;
    font-size: 16px;
    font-weight: 500;
  }

  .buttonCP-filled {
    border-color: white;
    height: 104px;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    font-family: 'MarianneMedium', Arial, sans-serif!important;
    font-size: 16px;
    font-weight: 500;
  }

  .searchCP {
  padding: 14px 20px 12px 45px;
  border: none;
  width: 100%;
  border-radius: 0 0 20px 20px;
  text-align: center;
  }

  .searchCP::placeholder {
    color: $background;
    text-align: center;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $background;
    border-radius: 0 0 20px 20px;
    border: 1px solid white;
    cursor: pointer;
    margin-top: -2rem;
  }

  .dropdown-expanded {
    border-radius: 0!important;
  }

  .dropdown-content:hover, .dropdown-content:focus {
    outline: none;
    border-top: 0;
  }

  .dropdown-content div {
    padding: 8px;
    text-align: center;
  }

  .dropdown-content div:hover {
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
  }

  .show {
    display: block;
  }

  .responsiveSelect {
    width: calc(533%/12);
    padding-left: 0.75rem;
  }

  /* custom point de rupture XL du DS */
  @media (max-width: 1247px) {

    .questionResponsive {
      margin-left: calc(100%/12);
    }

  }

  /* custom point de rupture LG du DS */
  @media (max-width: 1024px) {

    .responsiveSelect {
      padding-left: 0.5rem;
    }

  }

  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {

    .titre {
      font-size:28px;
      line-height:40px;
    }

    .responsiveSelect {
      width: calc(1000%/12);
      margin: 0 auto;
    }

  }

  /* custom point de rupture SM du DS */
  @media (max-width: 576px) {

    .questionResponsive {
      margin-left: 0;
      width: calc(1200%/12);
    }

    .responsiveSelect {
      width: calc(1200%/12);
    }

  }
  /** END SELECT CP **/

  /** START RADIO CANAL & ACTIVITY **/
  .radioRattachement {
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background-color: $background;
    cursor: pointer;
  }

  .radioRattachement-selected {
    background-color: white!important;
    color: black!important;
  }

  .labelBigRadioCustom {
    padding-top: 2.5rem;
    font-family: 'MarianneMedium', Arial, sans-serif!important;
  }

  .labelSmallRadioCustom {
    font-family: 'MarianneMedium', Arial, sans-serif!important;
  }

  .countRadioLabel {
    border-bottom: 1.5px solid black;
    height: 78px;
    margin-bottom: 1.2px;
  }

  .countRadioCalcul {
    width: 50%;
    height: 52px;
    display: inline-block;
    margin-bottom: -14px;
  }

  .countRadioCalcul:hover {
    background-color: $background;
    border-radius: 0 0 0 20px;

    .labelCalculCustom {
      color: white;
    }
  }

  .countRadioCalcul ~ .countRadioCalcul:hover {
    border-radius: 0 0 20px 0;
  }

  .labelCalculCustom {
    font-size: 2.5rem;
    padding-top: 10px;
    color: black;
  }

  .responsiveRadioCanal1, .responsiveRadioCanal2, .responsiveRadioActivity1, .responsiveRadioActivity2, .responsiveRadioActivity3Big {
    width: calc(266%/12);
  }

  .responsiveRadioCanal1, .responsiveRadioActivity1 {
    margin-left: 0.75rem;
  }

  .responsiveRadioCanalVertical {
    align-self: flex-start;
    width: calc(266%/12);
  }

  .responsiveRadioActivity3Small {
    display: none;
  }

  .lieuRattachement, .atelierCollectif, .accIndividuel, .demPonctuelle {
    height: 28px;
  }

  .autreLieu {
    height: 26px;
  }

  .distance, .domicile {
    display: flex;
  }

  /* custom point de rupture LG du DS */
  @media (max-width: 1024px) {

    .responsiveRadioCanal1, .responsiveRadioActivity1 {
      margin-left: 0.5rem;
    }
  }

  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {

    .responsiveRadioCanal1, .responsiveRadioActivity1 {
      width: calc(500%/12);
      margin-left: calc(100%/12);
      padding-left: 0.5rem;
    }

    .responsiveRadioCanal2, .responsiveRadioActivity2 {
      width: calc(500%/12);
    }

    .responsiveRadioActivity3Big {
      display: none;
    }

    .responsiveRadioActivity3Small {
      display: block;
      margin-left: calc(100%/12);
      width: calc(1000%/12);
      padding-left: 0.5rem;
    }

    .responsiveRadioCanalVertical {
      width: calc(10000%/12);
      margin-left: calc(100%/12);
      display: flex;
      padding-left: 0.5rem;
    }

    .responsiveRadioCanalVertical .radioRattachement {
      margin-bottom: 0.5rem;
    }

    .responsiveRadioCanalVertical .radioButton {
      width: calc(550%/12);
    }

    .responsiveRadioCanalVertical .radioButton:first-child {
      width: calc(540%/12);
    }

  }

    /* custom point de rupture SM du DS */
    @media (max-width: 576px) {

      .responsiveRadioCanal1, .responsiveRadioActivity1, .responsiveRadioCanal2, .responsiveRadioActivity2 {
        width: calc(600%/12);
        margin-left: 0;
      }

      .responsiveRadioActivity3Small {
        width: calc(12000%/12);
        margin-left: 0;
      }

      .responsiveRadioCanalVertical {
        width: calc(1200%/12);
        margin-left: 0;
      }

      .responsiveRadioCanalVertical .radioButton {
        width: calc(605%/12);
      }

      .responsiveRadioCanalVertical .radioButton:first-child {
        width: calc(595%/12);
      }

    }
  /** END RADIO CANAL & ACTIVITY **/

  /** START SQUARE BUTTON AGE AND STATUT **/
  .squareRattachement {
    width: 100%;
    height: 104px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: $background;
    cursor: pointer;
  }

  .squareRattachement-selected {
    background-color: white!important;
    color: black!important;
  }

  .squareLabel {
    font-family: 'MarianneMedium', Arial, sans-serif!important;
    font-size: 16px;

  }

  .responsiveSquare1, .responsiveSquare2, .responsiveSquare3, .responsiveSquare4, .responsiveSquare5 {
    width: calc(160%/12);
  }

  .responsiveSquare1 {
    margin-left: 0.75rem;
  }

  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {

    .responsiveSquare1 {
      width: calc(200%/12);
      margin-left: calc(100%/12);
      padding-left: 0.5rem;
    }

    .responsiveSquare2, .responsiveSquare3, .responsiveSquare4, .responsiveSquare5 {
      width: calc(200%/12);
    }

  }

    /* custom point de rupture SM du DS */
    @media (max-width: 576px) {

      .responsiveSquare1, .responsiveSquare2 {
        width: calc(600%/12);
        margin-left: 0;
      }

      .responsiveSquare3 {
        width: calc(600%/12);
        padding-left: 0.5rem;
      }

      .responsiveSquare4 {
        width: calc(600%/12);
      }

      .responsiveSquare5 {
        width: calc(1200%/12);
        padding-left: 0.5rem;
      }

      .squareRattachement {
        height: 73px;
      }

    }
  /** END SQUARE BUTTON AGE AND STATUT **/

  /** START CHECKBOX BUTTON THEMES **/
  .checkboxRattachement {
    width: 100%;
    border-radius: 20px;
    border: 1px solid white;
    background-color: $background;
    cursor: pointer;
  }

  .checkboxRattachement-selected {
    background-color: white!important;
    color: black!important;
  }

  .labelCheckboxCustom {
    font-family: 'MarianneMedium', Arial, sans-serif!important;
    line-height: 24px;
    text-align: start;
    align-self: center;
  }

  .responsiveCheckbox1 {
    width: calc(400%/12);
    margin-left: 0.75rem;
  }

  .responsiveCheckbox2, .responsiveCheckboxNewRow2 {
    width: calc(400%/12);
  }

  .responsiveCheckboxNewRow1 {
    width: calc(400%/12);
    margin-left: calc(211%/12);
  }

  .responsiveSmallCheckbox {
    width: calc(800%/12);
    margin-left: calc(211%/12);
  }

  .questionCheckboxResponsive {
    height: 108px;
  }

  /* custom point de rupture XL du DS */
  @media (max-width: 1247px) {

    .responsiveCheckboxNewRow1, .responsiveSmallCheckbox  {
      margin-left: calc(315%/12);
    }

    .questionCheckboxResponsive {
      margin-left: calc(100%/12);
    }

  }

  /* custom point de rupture LG du DS */
  @media (max-width: 991px) {

    .labelCheckboxCustom {
      font-size: 12px;
    }

  }

  /* custom point de rupture MD du DS */
  @media (max-width: 767px) {

    .responsiveCheckbox1, .responsiveCheckboxNewRow1 {
      width: calc(500%/12);
      margin-left: calc(100%/12);
      padding-left: 0.5rem;
    }

    .responsiveCheckbox2, .responsiveCheckboxNewRow2 {
      width: calc(500%/12);
    }

    .responsiveSmallCheckbox {
      width: calc(1000%/12);
      margin-left: calc(100%/12);
      padding-left: 0.5rem;
    }

    .questionCheckboxResponsive {
      height: unset;
    }

  }

  /* custom point de rupture SM du DS */
  @media (max-width: 576px) {

    .responsiveCheckbox1, .responsiveCheckbox2, .responsiveCheckboxNewRow1, .responsiveCheckboxNewRow2, .responsiveSmallCheckbox {
      width: calc(1200%/12);
      margin-left: 0;
      padding-left: 0.5rem;
    }

    .labelCheckboxCustom {
      font-size: 16px;
    }

    .questionCheckboxResponsive {
      margin-left: 0;
      width: calc(1200%/12);
    }

  }

  /** END CHECKBOX BUTTON THEMES **/

}
