#formulaire-horaires-adresse {
  .hide {
    display: none;
  }
  .banniere {
    background-color: #1B1B35;
    .col-logo {
      .pin {
        margin-top: 5px;
      }
      .hexagone {
        margin-top: 14px;
      }
    }
    .texte-banniere {
      color: #9177dd;
      font-size: 12px;
      .important {
        font-weight: 600;
      }
      .violet {
        color: #9177dd;
      }
      .blanc {
        color: #ffffff;
      }
      .vert {
        color: #bfe4b5;
      }
    }
    .carte-banniere {
      text-align: center;
    }
  }
  .col-logo {
    text-align: right;
    .pin, .hexagone {
      margin-right: 25px;
    }
  }
  a {
    box-shadow: none;
    &:hover {
      color: #8989cb;
    }
  }
  letter-spacing: 0;
  line-height: 24px;
  .titre, .titre-acces {
    line-height: 64px;
    font-weight: 100;
    font-size: 56px;
  }
  .titre-acces {
    font-size: 36px;
  }
  .sous-titre {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #8585F6;
  }
  .baseline {
    display: block;
    font-weight: normal;
    line-height: 20px;
    color: #929292;
    font-size: 12px;
    .link {
      color: #518FFF;
    }
  }
  .toggle-siret {
    color:#FC5D00;
  }
  .loading {
    text-align: center;
    font-style: italic;
    color:#FC5D00;
    font-weight: 600;
  }
  .conditions, .astuce {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color:#929292;
    /* or 167% */
    text-align: justify;
  }
  .derniere-modification {
    line-height: 20px;
    font-weight: 300;
    color: #929292;
    font-size: 12px;
  }
  .nom-structure {
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #cecece;
  }
  .libelle-adresse, .info-adresse {
    display: inline-block;
  }
  .libelle-adresse {
    width: 97px;
  }
  .question {
    font-weight: 600;
  }
  .obligatoire {
    font-weight: 600;
    color: #fc5D00;
  }
  .ri-info {
    top: 5px;
    position: relative;
  }
  .validation-extern-btn {
    background-color: #8585F6;
    border-radius: 0px;
    padding: 8px 26px;
    text-align: center;
    color: #000091;
    height: 40px;
    width: 407px;

  }
  .nouveau-btn, .localisation-btn, .supprimer-btn, .validation-btn {
    background: #1e1e1e;
    border: 1px solid #8585f6;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    color: #8585f6;
    cursor: pointer;
  }
  .validation-btn {
    line-height: 22px;
    margin-left: 47px;
  }
  .localisation-btn-position {
    text-align: right;
  }
  .circle-true, .circle-false {
    display: block;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: auto;
  }
  .circle-true {
    background: #169b62;
  }
  .circle-false {
    background: #ff6f4c;
  }
  .creer-btn, .modifier-btn {
    background-color: #8585F6;
    border: 1px solid #000091;
    text-align: center;
    padding: 8px 28px;
    color: #000091;
    cursor: pointer;
    height: 42px;
    &:hover {
      background-color: #1e1e1e;
      border-color: #8989cb;
    }
  }
  .modifier-btn {
    width: 127px;
    margin: 1px 15px 15px 15px;
  }
  .creer-btn {
    float: right;
    margin: 20px 0;
  }
  .supprimer-btn {
    padding: 8px 24px;
    height: 40px;
    margin: 0 15px 15px 15px;
  }
  .disabled-btn {
    width: 127px;
    border-color: #929292;
    color: #929292;
  }
  .infobulle {
    padding: 10px !important;
    background-color: #fff;
    border-radius: 6px;
    text-align: left;
    line-height: 22px;
    color: #1e1e1e;
    font-size: 16px;
  }
  .radio-permanence {
    margin-top: -16px;
  }
  .permanence-existante {
    margin-left: 4px;
  }
  .horaires-titre {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .position-jour {
    position: relative;
    width: 78px;
    top: -5px;
  }
  .jour {
    font-size: 14px;
    font-weight: 400;
  }
  .without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px;
  }
  .horaires-debut, .horaires-fin, .horaires-fermeture, .fermeture-btn, .dupliquer-btn {
    border: 1px solid #518FFF;
    background-color: #1e1e1e;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    width: 100px;
  }
  .fermeture-btn {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -1px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    height: 40px;
    width: 200px;
  }
  .dupliquer-btn {
    display: none;
    border-radius: 8px;
    margin-top: -8px;
    cursor: pointer;
    font-size: 14px;
    height: 79px;
  }
  .tr-horaires:hover, .tr-horaires td:hover {
    .dupliquer-btn {
      display: inline-block;
    }
  }
  .horaires-debut, .horaires-fin {
    padding-left: 16px;
  }
  .horaires-debut {
    border-top-left-radius: 8px;
  }
  .horaires-fin {
    border-top-right-radius: 8px;
  }
  .horaires-fermeture {
    border-radius: 8px;
    padding-top: 25px;
    color: #929292;
    cursor: pointer;
    height: 79px;
    width: 200px;
  }

  input[type="time"]::-webkit-calendar-picker-indicator{
    filter: brightness(0) invert(1);
  }
  .map-container {
    margin-top: 141px;
  }
  .map {
    margin-left: 22px;
    width: 281px;
    height: 281px;
  }

  .leaflet-control-attribution {
    display: none;
  }

  /* Partie Mise à jour*/
  .suppression-definitive {
    font-family: 'Marianne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #E0000F;
    text-align: center;
    color: #F5F5FE;
  }

  @media (min-width: 768px) and (max-width: 1102px){
    .banniere .col-logo .hexagone {
      margin-top: 39px;
    }
  }
  @media (max-width: 767px) {
    .titre {
      font-size: 48px;
    }
    .map-container {
      margin-top: 0px;
      margin-bottom: 3rem;
      margin-left: 38px;
    }
  }
  @media (max-width: 607px) {
    .banniere .col-logo .hexagone {
      margin-top: 39px;
    }
  }
  @media (max-width: 576px) {
    .titre {
      font-size: 42px;
    }
  }
  @media (max-width:520px) {
    .horaires-fermeture {
      padding: 40px 15px;
      height: 112px;
      width: 90px;
    }
    .horaires-debut {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 0px;

    }
    .horaires-fin {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 0px;
    }
  }

}
