#formulaire-horaires-adresse {
  .banniere {
    background-color: #1B1B35;
    .col-logo {
      .pin {
        margin-top: 5px;
      }
      .hexagone {
        margin-top: 14px;
      }
    }
    .texte-banniere {
      color: #9177dd;
      font-size: 12px;
      .important {
        font-weight: 600;
      }
      .violet {
        color: #9177dd;
      }
      .blanc {
        color: #ffffff;
      }
      .vert {
        color: #bfe4b5;
      }
    }
  }
  .col-logo {
    text-align: right;
    .pin, .hexagone {
      margin-right: 25px;
    }
  }
  a {
    box-shadow: none;
    &:hover {
      color: #8989cb;
    }
  }
  letter-spacing: 0;
  line-height: 24px;
  .titre {
    line-height: 64px;
    font-weight: 100;
    font-size: 56px;
  }
  .sous-titre {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #8585F6;
  }
  .baseline {
    display: block;
    font-weight: normal;
    line-height: 20px;
    color: #929292;
    font-size: 12px;
    .link {
      color: #518FFF;
    }
  }

  .derniere-modification {
    line-height: 20px;
    font-weight: 300;
    color: #929292;
    font-size: 12px;
  }
  .nom-structure {
    display: block;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #cecece;
  }
  .libelle-adresse, .info-adresse {
    display: inline-block;
  }
  .libelle-adresse {
    width: 97px;
  }
  .question {
    font-weight: 600;
  }
  .obligatoire {
    font-weight: 600;
    color: #fc5D00;
  }
  .ri-info {
    top: 5px;
    position: relative;
  }
  .validation-btn {
    background-color: #8585F6;
    padding: 8px 24px;
    text-align: center;
    color: #000091;
    height: 40px;
    width: 288px;

  }
  .nouveau-btn {
    background: #1e1e1e;
    border: 1px solid #8585f6;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    color: #8585f6;
  }
  .emplacement-permanences {
    overflow: auto;
    max-height: 240px;
  }
  .permanence-existante {
    margin-left: 4px;
  }
  .horaires-titre {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  .jour {
    font-weight: 600;
    width: 78px;
  }
  .horaires-debut, .horaires-fin, .horaires-fermeture {
    border: 1px solid #518FFF;
    background-color: #1e1e1e;
    box-sizing: border-box;
    padding-left: 16px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    height: 56px;
    width: 90px;
  }
  .horaires-debut {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .horaires-fin {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .horaires-fermeture {
    border-radius: 8px;
    padding-top: 14px;
    color: #929292;
    cursor: pointer;
    width: 180px;
  }
  @media (min-width: 768px) and (max-width: 1102px){
    .banniere .col-logo .hexagone {
      margin-top: 39px;
    }
  }
  @media (max-width: 767px) {
    .titre {
      font-size: 48px;
    }
  }
  @media (max-width: 607px) {
    .banniere .col-logo .hexagone {
      margin-top: 39px;
    }
  }
  @media (max-width: 576px) {
    .titre {
      font-size: 42px;
    }
  }
  @media (max-width:520px) {
    .horaires-fermeture {
      padding: 40px 15px;
      height: 112px;
      width: 90px;
    }
    .horaires-debut {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 0px;

    }
    .horaires-fin {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 0px;
    }
  }

}
