.form-sup-hierarchique {
    font-family: "Marianne", Arial, sans-serif;
    .titre {
        font-family: "MarianneThin", Arial, sans-serif;
        font-size: 56px;
        line-height: 72px;
        margin: 0;
    }
    .sous-titre {
        font-size: 32px;
        line-height: 40px;
        line-height: 32px;
        font-family: 'Marianne-Bold', Arial, sans-serif;

    }
    .paragraphe {
        font-family: "Marianne-Light", Arial, sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #929292;
    }
    .form-button {
        background-color: #9a9aff;
        color: #000091;
        &:hover {
            background-color: #7171ff;
            color: #000091;
        }
    }
}
