.mes-informations {
  font-family: "Marianne", Arial, sans-serif;
  background-color: #1e1e1e !important;
  padding-bottom: 6rem;
  .titre {
    line-height: 72px;
    font-weight: 200;
    font-size: 56px;
    margin: 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  a {
    background-image: none;
  }
  .perennisation-btn {
    img {
      width: 32px;
      margin: 0px 20px -8px 0;
    }
  }
  hr {
    color: #666666;
  }
  .react-datepicker-wrapper {
    display: block;
  }
  .desc-input {
    color: #929292;
  }
  .modif-password {
    box-shadow: none;
  }
  .modif-password:hover {
    color: #929292;
  }
  .contact-mail {
    display: flex;
    align-content: center;
    .infos-user {
      display: flex;
      line-height: 24px;
      font-weight: 300;
      font-size: 12px;
      flex-direction: column;
      span:first-child {
        font-weight: 600;
        margin-top: -10px;
      }
    }
    a {
      color: #8585f6;
    }
    img {
      margin-bottom: 56px;
      margin-right: 16px;
      width: 28px;
    }
  }
  .username {
    font-family: "Marianne-Bold", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
  .paragraphe {
    font-family: "Marianne-Light", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #929292;
  }
  .form-button {
    background-color: #9a9aff;
    color: #000091;
    &:hover {
      background-color: #7171ff;
      color: #000091;
    }
  }
  .radio-contrat {
    width: 90px;
  }
  .radio-genre {
    margin-right: 40px;
  }
  .react-datepicker__triangle {
    margin-left: -95% !important;
  }
}
