.mon-espace-candidat {
  .titre {
    line-height: 64px;
    font-weight: 200;
    font-size: 56px;
    margin: 0;
  }
  .paragraphe {
    line-height: 20px;
    font-weight: 300;
    color: #929292;
    font-size: 12px;
  }
  .sous-titre {
    line-height: 32px;
    font-weight: 700;
    font-size: 20px;
  }
}
