.ressourcerie {
  .titre {
    font-size: 56px;
    line-height: 72px;
    margin: 0;
    font-family: 'MarianneThin', Arial, sans-serif;
  }
  .liste-thematiques {
    margin: 0 0 0 -1.5rem;
    list-style: none;
    padding: 0;
  }
  .tag {
    background-color: #9a9aff;
    border-radius: 16px;
    padding: 4px 16px;
    color:#000091;
    margin: 0 12px;
  }
}
