.Statistics {
  font-family: Marianne;
  .title {
    font-weight: 200;
  }
  .statistics-btn {
    background-color: transparent !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    border-radius: 40px;
    font-weight: 600;
    height: 64px;
    --color-hover: #fff !important;
    &:hover {
      background-color: #fff !important;
      color: #1e1e1e !important;
    }
  }
  .date-btn {
    &:hover, &:active {
      color:#7060ff;
      cursor: pointer;
    }
  }
  .react-datepicker{
    background-color: #1e1e1e;
    border: 1px solid #7060ff;
    border-radius: 1.3rem;
    color: #fff;
    width: 120%;

    .react-datepicker__triangle {
      display: none;
    }
    .react-datepicker__navigation--previous {
      border-right-color: #fff;
    }
    .react-datepicker__navigation--next {
      border-left-color: #fff;
    }
    .react-datepicker__header {
      background-color: #1e1e1e;
      color: #fff;
      border-top-left-radius: 1.4rem;
      border-top-right-radius: 1.4rem;
      width: 120%;

      .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
        color: #fff;
      }
      .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #fff;
      }
      .react-datepicker__month {
        color: #fff;
      }
    }
    .react-datepicker__month {
      width: 115%;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      color: #fff;
    }
    .react-datepicker__day--outside-month {
      color: #909090;
    }
    .react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
      color: #1e1e1e;
    }

    .react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
      color: #1e1e1e;
      background-color: #fff;
    }
  }

  .number {
    font-weight: 600;
    text-align: right;
    font-size: 48px;
    line-height: 66px;
    margin-right: 24px;
    margin-top: -8px;
  }
  .numbers {
    font-size: 32px;
    font-weight: 600;
    text-align: right;
    line-height: 32px;
    margin-right: 24px;
  }
  .text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    width: 179px;
  }
  .valeur-legende {
    margin-right: 6px;
  }
  .bar {
    max-width:282px;
  }
  .table-link {
    font-size: 12px;
  }
  a {
    text-decoration: none !important;
  }

}

