.Statistics {

  background-color: #1e1e1e;
  .infobulle-image {
    width:64px;
  }
  .infobulle {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 20px;
    color: #1e1e1e;
    font-size: 14px;
    height: 150px;
    width: 280px;
  }
  .title {
    font-weight: 100;
    font-size: 56px;
    letter-spacing: 0;
    line-height: 64px;
    font-family: MarianneThin;
  }
  .periode-xs {
    display: none;
  }
  .chevron-stats {
    margin: 0px 2px 0px 4px;
    position: relative;
    font-size: 1.3rem;
    top: 4px;
  }
  .chevron {
    position: absolute;
  }
  .date-btn {
    &:hover, &:active {
      color:#5398ff;
      cursor: pointer;
    }
  }
  .code-postal-select {
    max-width: 344px;
    &:focus, &:hover, &:visited, &:link, &:active {
      outline: none;
    }
  }
  .centrerTexte {
    text-align: center;
  }
  .date-active{
    color:#5398ff;
  }
  .react-datepicker{
    font-family: Marianne;
    background-color: #1e1e1e;
    border: 1px solid #5398ff;
    border-radius: 1.4rem;
    color: #fff;

    .react-datepicker__triangle {
      display: none;
    }
    .react-datepicker__navigation--previous {
      background: url(../../public/logos/statistics/logo-chevron-gauche.svg) no-repeat;
      margin-left: 11px;
      border: none;
      height: 16px;
      width: 10px;
    }
    .react-datepicker__navigation--next {
      background: url(../../public/logos/statistics/logo-chevron-droit.svg) no-repeat;
      margin-right: 11px;
      border: none;
      height: 16px;
      width: 10px;
    }
    .react-datepicker__header {
      background-color: #1e1e1e;
      color: #fff;
      border-top-left-radius: 1.4rem;
      border-top-right-radius: 1.4rem;

      .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
        color: #fff;
      }
      .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        color: #fff;
      }
      .react-datepicker__month {
        color: #fff;
      }
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      font-size: 16px;
      color: #fff;
      width: 28px;
      height: 28px;
      margin: 7px;
    }
    .react-datepicker__day--outside-month {
      color: #909090;
    }
    .react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover{
      color: #1e1e1e;
    }
    .react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
      color: #1e1e1e;
      background-color: #fff;
    }
    .react-date-picker__calendar--open {
      top: 100% !important;
      bottom: unset !important;
    }
  }
  .react-datepicker__tab-loop {
    position: absolute;
    top: 0px;
    left: -93px;
  }
  .number {
    font-weight: 600;
    text-align: right;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    margin-right: 1rem;
  }
  .numbers, .numbers-renewal {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    line-height: 22px;
    letter-spacing: 0;
    margin-right: 1rem;
  }
  .many-numbers {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: right;
    margin-right: 1rem;
  }
  .text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 500;
  }
  .texts {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .number-codeDepartement, .number-departement, .number-codeRegion, .number-region, .number-nationales {
    font-weight: 600;
    text-align: left;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
  }
  .numbers-codeDepartement, .numbers-departement .numbers-codeRegion, .numbers-region, .numbers-nationales {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    line-height: 22px;
    letter-spacing: 0;
  }
  .text-codeDepartement, .text-departement, .text-codeRegion .text-region, .text-nationales {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 500;
  }
  .titre-legende,.titre-legende-bis, .valeur-legende {
    display:inline-block;
    font-weight: 400;
    height: 20px;
  }
  .titre-legende {
    width: 80px;
  }
  .titre-legende-bis{
    width: 82px;
  }
  .valeur-legende {
    text-align: right;
    width: 35px;
  }
  .highcharts-legend-item.highcharts-line-series.highcharts-color-undefined.highcharts-series-1 path.highcharts-graph {
    stroke-width: 0;
  }

  .image-banniere {
    display: inline-block;
    margin: 0 5px -3px 0;
  }
  .statistiques_nationales-btn {
    background-color: transparent;
    border: 1px solid #fff;
    line-height: 1.25rem;
    border-radius: 40px;
    text-align:center;
    box-shadow: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    padding: 21px;
  }
  .droite-btn {
    float: right;
  }
  .hr-lg-hide {
    display: none;
  }
  .theme-valeur {
    margin: 0 12px;
  }
  .liste-action {
    padding: 0px;
  }
  .rf-footer__bottom-link {
    cursor:pointer;
  }
  .afficher-etapes {
    margin-left: 77px;
  }

  @media (min-width: 991px) {
    .graphique-responsive-md{
      display:none;
    }
    .rf-mt-lg-13w {
      margin-top: 6.5rem !important;
    }
    .rf-m-lg-15w {
      margin: 7.5rem 0 !important;
    }
  }
  @media (max-width: 991px) {
    .number {
      font-size: 28px;
    }
    .rf-m-xs-to-md-7v {
      margin: 1.75rem 0 !important;
    }
    .afficher-export {
      display: none;
    }
    .hr-lg-hide {
      display: block;
    }
    .graphique-responsive-lg{
      display:none;
    }
  }
  @media (min-width: 768px) {
    .hr-md-hide, .graphique-responsive-sm {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .numbers-renewal, .many-numbers {
      text-align: left;
    }
    .graphique-responsive-md-lg {
      display:none;
    }
    .hr-sm-hide {
      display: none;
    }
    .rf-m-sm-4w {
      margin: 2rem 0 !important;
    }
    .rf-footer__bottom-link {
      font-size: 16px;
    }
    .rf-footer__bottom-item{
      display: inline-block;
      &::before{
        display: none;
      }
    }
    .statistiques_nationales-btn {
      margin: 30px 0;
      padding: 12px 24px;
      float: left;
    }
    .highcharts-container {
      margin: 0 auto;
    }
  }

  @media (max-width: 575px) {
    .title {
      font-size: 28px;
      text-align: center;
    }
    .statistiques_nationales-btn {
      margin: 25px 0;
    }
    .rf-footer__bottom-item{
      display: block;
    }
  }
  @media (max-width: 557) {
    .statistiques_nationales-btn {
      margin: 64px 0;
    }
    .highcharts-title{
      margin-bottom: 1rem !important;
    }
  }
  @media (max-width: 349px) {
    .periode-xs {
      display: block;
    }
    .chevron {
      bottom: 75px;
      right: 16px;
    }
    #span-datePickerDebut .react-datepicker__tab-loop {
      left: -10px;
    }
    #span-datePickerFin .react-datepicker__tab-loop {
      left: -122px;
    }
  }

  @media print {

    #burgerMenu {
      display: none;
    }
    #footer {
      display: none;
    }
    .number, .numbers, .numbers-renewal, .many-numbers {
      text-align: left;
    }
    div {
      background: #fff !important;
      background-color: #fff !important;
    }

    h1 {
      margin: 70px 0;
    }

    .title-print-territoire {
      margin: 0;
      font-weight: 100;
      font-size: 35px;
      text-align: left;
    }

    .graphique-responsive-lg {
      display: block !important;
    }

    .theme-print {
      margin: 50px 0 0 0;
    }

    .evolution-print {
      margin: 105px 0 0 0;
    }
  }
}
.print {
  background-color: #fff;
  color: #1e1e1e;
  .rf-service__title {
    color: #1e1e1e;
  }
}
