//Marianne Thin et Medium imported manually (not in the package DS)
@font-face {
  font-family: MarianneThin;
  src: url(/public/fontsAddons/Marianne-Thin.woff2);
  font-weight: bold;
}

@font-face {
  font-family: MarianneThinItalic;
  src: url(/public/fontsAddons/Marianne-Thin_Italic.woff2);
  font-weight: italic;
}

@font-face {
  font-family: MarianneMedium;
  src: url(/public/fontsAddons/Marianne-Medium.woff2);
  font-weight: bold;
}

@font-face {
  font-family: MarianneMediumItalic;
  src: url(/public/fontsAddons/Marianne-Medium_Italic.woff2);
  font-weight: italic;
}

@font-face {
  font-family: MarianneBold;
  src: url(/public/fontsAddons/Marianne-Bold.woff2);
}

@font-face {
  font-family: MarianneExtraBold;
  src: url(/public/fontsAddons/Marianne-ExtraBold.woff2);
}

@font-face {
  font-family: MarianneRegular;
  src: url(/public/fontsAddons/Marianne-Regular.woff2);
}

/** Trick to fix DS problem with burger menu with react**/
#burgerMenu {
  display: none;
}

.rf-header__navbar button:not(#burgerMenu) {
  display: none;
}
/** End trick**/

.rf-fi-user-line {
  color:var(--bf500);
}

.flashBag {
  background-color: white;
  color: #008941;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

.linkCustom {
  font-weight: bold;
  box-shadow: none!important;
  padding: 0.5rem;
  border: 0.125rem solid transparent;
  border-radius: 15px;
}

.linkCustom:hover {
  border-color: white;
}

.linkCustom:focus {
  outline: none!important;
}

.linkActive {
  border-color: white;
}

.big-btn {
    display: inline-block;
    padding: 1.5rem;
    border: none;
    border-radius: 50px;
    width: 85%;
    color: black;
}

.choosePassword p, .validationAccount p {
  margin-bottom: 0;
}

.invalid {
  color: #FF3333;
}

.support-btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
  width: 60%;
  color: white!important;
  font-size: 16px;
  padding: 24px;
}

.rf-btn.support-btn:hover, .rf-btn.support-btn:active {
  --color-hover: $background!important;
  --color-active: $background!important;
}

.titrage {
  font-size: 56px!important;
  line-height: 1.25em!important;
}

.spinnerCustom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.wrapperModal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* custom point de rupture md du DS */
@media (max-width: 768px) {

  .headerRow {
    justify-content: left;
  }

  .headerCustom {
    display: none;
  }

  #burgerMenu {
    display: block;
  }

}
 /* Ajustement du footer md*/
@media  (min-width: 933px) and (max-width: 1059px) {
  .marge-cgu {
    padding-left: 0px !important;
  }
}
@media  (min-width: 918px) and (max-width: 947px) {
  .marge-bar-cgu {
    margin-left: 0px !important;
  }
}
@media  (min-width: 688px) and (max-width: 825px) {
  .marge-donnees {
    padding-left: 0px !important;
  }
}
@media  (min-width: 677px) and (max-width: 687px) {
  .marge-bar-donnees {
    padding-left: 0px !important;
  }
}
@media  (min-width: 584px) and (max-width: 616px) {
  .marge-cgu {
    padding-left: 0px !important;
  }
}
@media  (min-width: 578px) and (max-width: 588px) {
  .marge-bar-cgu {
    margin-left: 0px !important;
  }
}
@media  (min-width: 577px) and (max-width: 626px) {
  .marge-mention {
    padding-left: 0px !important;
  }
}

/* custom point de rupture XS du DS */
@media (max-width: 576px) {

  .logoFooter {
    margin-bottom: 32px;
  }

  .footerButton {
    width: 100%;
    margin-top: -1rem!important;

    .support-btn {
      width: 90%;
    }

  }

  /* Ajustement du footer xs*/
  @media  (min-width: 576px) {
    .marge-mention {
      padding-left: 0px !important;
    }
  }
  @media  (min-width: 529px) and (max-width: 575px) {
    .marge-cgu {
      padding-left: 0px !important;
    }
  }
  @media  (min-width: 524px) and (max-width: 532px) {
    .marge-bar-cgu {
      margin-left: 0px !important;
    }
  }
  @media  (min-width: 376px) and(max-width: 447px) {
    .marge-donnees {
      padding-left: 0px !important;
    }
  }
  @media  (min-width: 371px) and(max-width: 380px) {
    .marge-bar-donnees {
      margin-left: 0px !important;
    }
  }
  @media  (min-width: 320px) and (max-width: 328px) {
    .marge-responsive {
      padding-left: 9px;
    }
  }
}
