@font-face {
  font-family: MarianneExtraBold;
  src: url(/public/fontsAddons/Marianne-ExtraBold.woff2);
}

.fr-header {
  box-shadow: none;
  filter: none;
}

.fr-container--fluid {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

/** Trick to fix DS problem with burger menu with react**/
#burgerMenu {
  display: none;
}
.Menu {
  background-color:#232323;
  margin-bottom: -15px;
  height: 0px;
}
.fr-header__navbar button:not(#burgerMenu) {
  display: none;
}

/** End trick**/

/** Header **/
.fr-header__body {
  background-color: #2e2e2e;
  height: 110px;
  .fr-header__body-row {
    padding: 1.75rem 0;
    .fr-header__logo {
      box-shadow: none;
    }
    .fr-header__brand {
      background-color: transparent;
    }
    .fr-header__service {
      box-shadow: none;
      margin-left: 32px;
      margin-right: 0;
      width: auto;
      .block-feuillet {
        margin: -2.5rem -2rem -2rem -2rem !important;
        .feuillet {
          background-image: url(/public/logos/feuillets.svg);
          background-repeat: no-repeat;
          background-position-x: 5.3rem;
          background-position-y: -1rem;
          background-size: 210px 82px;
          width: 325px;
          height: 80px;
          .title-feuillet {
            font-weight: 800 !important;
            font-size: 32px !important;
            line-height: 56px !important;
            font-family: 'MarianneExtraBold' !important;
            color: #fff;
          }
        }
        .fr-header__service-tagline {
          font-size: 0.75rem !important;
          line-height: 1.25rem !important;
          color: rgb(146, 146, 146);
        }
      }
    }
    .fr-header__tools {
      color:#fff !important;
      .fr-btns-group {
        margin-top: -10px;
        .header-aide, .header-propos, .header-informations, .header-user {
          .fr-nav__list {
            margin: -28px 0rem;
            padding: 0 0 7px;
            a {
              box-shadow: none;
            }
          }
          .fr-nav__btn[aria-expanded="true"] {
            background-color: #9A9AFF;
            color: #000091 !important;
          }
          .fr-nav__btn::after {
            margin-top: 10px !important;
          }
          .fr-menu {
            top: 104% !important;
          }
          .fr-menu::after {
            box-shadow: none;
            background: #1e1e1e;
          }
          .link-actif {
            background-color: #9A9AFF;
            color: #000091 !important;
          }
          .logo-discussion {
            position: relative;
            width: 34px;
            top: 6px;
          }
          .texte-aide, .texte-informations, .texte-user {
            position: relative;
            margin-left: 10px;
            bottom: 4px;
            .ri-arrow-down-s-line {
              top: 3px;
              position: relative;
            }
          }
          .texte-informations, .texte-user, .texte-aide {
            bottom: -4px;
          }
          .lien-aide, .lien-informations, .lien-user {
            box-shadow: none !important;
            outline: none !important;
          }
          .sous-titre-lien {
            font-size: 12px;
            line-height: 24px;
            color: #fff;
          }
          #menu-liens-aide, #menu-informations, #menu-liens-user, #menu-liens-hub {
            background-color: #1e1e1e;
            max-height: none;
            text-align: left;
            border: 1px solid #9A9AFF;
            padding: 15px;
            margin-top: -0.43rem;
            margin-left: 0rem;
            .fr-menu__list {
              padding-bottom: 0px;
              background-color: #1e1e1e;
            }
          }
          #menu-liens-user {
            width: 27.3rem;
            .fr-menu__list {
              font-size: 14px;
              line-height: 24px;
            }
          }
          #menu-liens-hub {
            width: 15rem;
            margin-right: -5.25rem;
            .fr-menu__list {
              font-size: 14px;
              line-height: 24px;
            }
          }
          .aide-coop {
            padding-bottom: 12px;
          }
          .aide-metier {
            border-top: 1px solid #bfbfe3;
            padding-top: 12px;
          }
          .user-disconnect {
            width: 24.05rem;
            border-top: 1px solid #bfbfe3;
            padding-top: 12px;
          }
          .user-infos {
            width: 24.05rem;
            padding-bottom: 12px;
          }
          .fr-custom-link {
            position: relative;
            z-index: 1;
            padding: 1.6rem 1rem !important;
            background-color: #2e2e2e;
            font-size: 0.88rem !important;
            color: #fff !important;
            height: 110px !important;
            line-height: 1.5rem;
            cursor: pointer;
            border: none;
            &:hover{
              background-color: #9A9AFF;
              color: #000091 !important;
            }
            &:focus {
              outline-color: transparent;
            }
          }
        }
        .header-propos {
          font-size: 0.88rem;
          .fr-custom-link {
            padding: 3rem 0.5rem 2.8rem 0.3rem !important;
            .ri-compasses-2-fill {
              margin: 10px;
            }
          }
        }
        .header-user {
          padding-right: 4px;
        }
      }
    }
  }

}

.fr-header .header-grid {
  justify-content: center;
}

.logo-conseiller-numerique {
  height: 48px;
}

.information-link {
  background-color: #2e2e2e;
  border: none;
}

.flashBag {
  background-color: white;
  color: #008941;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

.linkCustom {
  font-weight: bold;
  box-shadow: none!important;
  padding: 0.5rem;
  border: 0.125rem solid transparent;
  border-radius: 15px;
}

.linkCustom:hover {
  border-color: white;
}

.linkCustom:focus {
  outline: none!important;
}

.linkActive {
  border-color: white;
}

.big-btn {
    display: inline-block;
    padding: 1.5rem;
    border: none;
    border-radius: 50px;
    width: 85%;
    color: black;
}

.choosePassword p, .validationAccount p {
  margin-bottom: 0;
}

.invalid {
  color: #FF3333 !important;
}
.input-error {
  color: #ff3333 !important;
  box-shadow: inset 0 -2px 0 0 #ff3333 !important;
}
.text-error {
  color: #FF3333 !important;
  font-size: 0.8rem !important;
}
.important {
  color: #e10600;
}

.valid {
  color: #008941;
}

.support-btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 40px;
  width: 60%;
  color: white!important;
  font-size: 16px;
  padding: 24px;
}

.fr-btn.support-btn:hover, .fr-btn.support-btn:active {
  --color-hover: $background!important;
  --color-active: $background!important;
}

.titrage {
  font-size: 56px!important;
  line-height: 1.25em!important;
}

.spinnerCustom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
}

.wrapperModal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Custom menu header */

.ri-compasses-2-fill {
  font-size: 16px;

}
.fr-header .fr-shortcuts__item.header-aide, .fr-shortcuts__item.header-user {
  border: none;
}
.fr-mt-15w {
  margin-top: 7.5rem !important;
}

.header-logout {
  height: 32px;
  margin-top: 20px !important;
  margin-right: 13px !important;
}

/* Pagination */
.fr-pagination__link, .fr-pagination__link:hover {
  border-radius: 18px;
  .number {
    padding-left: 11px;
    width: 25px;
  }
}
.fr-pagination {
  display: flex;
  margin: auto;
  .fr-pagination__list {
    margin: auto;
  }
}
/*Footer support */
.lien-footer {
  background-image: none;
  margin-right: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  img {
    margin-right: 12px;
  }
  span {
    position: relative;
    bottom: 10px;
  }
}

/* Modal Gestion */
.modalOpened {
  opacity: 1;
  visibility: visible;
}
.modal-sexe-age, .modal-remerciement, .modal-ouverture, .modal-suppression {
  background-color: #fff;
  padding: 4em 2.5em;
  color: #1e1e1e;
  h1, legend, label {
    color: #1e1e1e;
  }
  .centre {
  text-align: center;
  }
  .element-gauche {
    float:left;
    width:60%;
    margin-top:45px;
  }
  .element-droite {
    margin-left: 60%;
    margin-top:60px;
  }
  p {
    font-style: 'italic';
      color: #383838;
  }
  .fr-modal__content {
    margin:0;
    padding: 0px;
  }
  .fr-fieldset {
      color: #1e1e1e;
  }
  .label {
    font-weight: 600;
  }
  #date {
    background-color: #f0f0f0;
    border-bottom: 2px solid #6A6A6A;
    color:#a1a2a5;
  }
  .ouverture-link {
    font-weight: 600;
    color: #000091;

  }
  .remerciement-enregistrees {
    line-height: 32px;
    font-weight: 700;
    font-size: 24px;
    color: #18753C;
  }
  .enregistrees-check {
    position: relative;
    right: 10px;
    top: 5px;
  }
  .sexe-age-link {
    color: #1e1e1e;
    font-size: 1rem;
    width: 300px;
    &:hover {
      background-color: #fff;
      color: #1e1e1e;
    }
  }
 .sexe-age-btn {
    background-color: #fff;
    border: 1px solid #1e1e1e;
    display: inline-block;
    border-radius: 40px;
    line-height: 1.5em;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
    color: #1e1e1e;
    height: 64px;
    width: 318px;
    &:hover {
      background-color: #fff;
    }
  }
  .ouverture-btn, .remerciement-btn, .suppression-btn {
    background-color: #000091;
    color: #fff;
  }
  .plus-tard-btn, .annuler-btn {
    background-color: #fff;
    border: 1px solid #000091;
    color: #000091;
  }
}

.modal-remerciement{
  max-height: 85vh;
}
.contenu-vide{
  height: 445px;
}

.conseiller-course {
  height: 202px;
  width:469px;
}

.conseillere-tablette {
  margin-left: 79px;
  height: 132px;
  width: 57px;
}
#propos {
  .titre1 {
    font-size: 2rem;
  }
  .titre2 {
    font-size: 1.5rem;
  }
  .titre3 {
    font-size: 1.25rem;
  }
  .lien-a-propos{
    display: inline-block;
    position: relative;
    width: 84%;
  }
  .fresque-text {
    height: 100px;
    width: 180px;
    color: #929292;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
  }
}
.bulle-ressourcerie {
  height: 29px;
}
.icone-info-header {
  position: relative;
  font-size: 1rem;
  color: orange;
  padding: 4px;
  top: 3px;
}

/* Ajustement du header */
@media  (max-width: 1180px) {
  .header-logout {
    margin-right: 0px !important;
  }
  .fr-header__navbar {
    margin-left: 0px;
  }
  .fr-icon-menu-fill{
    padding: 10px;
    color:#fff;
    &:hover {
      background-color: #878787;
    }
  }
 }

 @media  (max-width: 1135px) {
  .cacher-baseline {
    display: none;
  }
}

@media (max-width: 1064px) {
  .fr-header__brand {
    width: auto;
    .fr-header__brand-top {
      width: 30%;
    }
    .fr-header__service {
      width: 60%;
    }
  }
  .rf-header__navbar {
    position: absolute;
    right: 5px;
  }
}
@media (max-width: 991px) {
  #burgerMenu {
    display: block;
  }
  .block-feuillet {
    margin: -2.3rem -2rem -2rem -2.3rem !important;
  }
  .fr-header__brand {
    width: 95%;
    .fr-header__brand-top {
      width: 130px;
    }
    .fr-header__service {
      width: 265px;
    }
  }
  .Menu {
    margin-bottom: -30px;
    height: auto;
  }
  .fr-nav__list {
    margin-top: 35px !important;
    .fr-shortcuts__item a.fr-btn.fr-btn--sm {
      border: 0.125rem solid transparent;
      box-shadow: none!important;
      background-color: #232323;
      border-radius: 15px;
      font-weight: bold;
      padding: 0.5rem;
      font-size: 1rem;
      color: #fff;
      width: 100%;
      &:hover {
        border-color: white;
        background-color: #3f3f3f;
      }
      &:focus {
        outline: none!important;
        background-color: #3f3f3f;
      }
    }
  }
  .fr-btn.fr-fi-close-line.fr-btn--icon-right.fr-btn--sm {
    background-color: var(--t-plain) !important;
    color: #c0c0e3 !important;
    position: relative !important;
    top: -270px !important;
    right: -70% !important;
    &:hover {
      background-color: #858585 !important;
    }
  }
}
@media (max-width: 988px) {
  .modal-sexe-age {
    .element-gauche {
      float:right;
      width:100%;
      margin-top:25px;
    }
    .element-droite {
      margin-top:25px;
      margin-left:0;
      width: 80%;
    }
  }
  .header-grid {
    justify-content: flex-start;
  }
  .feuillet {
    background-position-x: 4rem;
    background-position-y: -1.3rem;
    background-size: 150px 82px;
  }
  .title-feuillet {
    font-size: 25px !important;
  }
  .logo-conseiller-numerique {
    height: 42px;
  }
}
/* Ajustement du header md*/
@media  (min-width: 800px) and (max-width: 1023px) {
  .fr-header .feuillet {
    width: 300px;
  }
}
/* custom point de rupture md du DS */
@media (max-width: 767px) {
  .headerRow {
    justify-content: left;
  }
  .headerCustom {
    display: none;
  }
  .fr-header {
    height: auto;
  }
}
@media  (min-width: 688px) and (max-width: 770px) {
  .fr-header .feuillet {
    width: 249px;
  }
}
/* custom point de rupture XS du DS */
@media (max-width: 576px) {
  .logoFooter {
    margin-bottom: 32px;
  }

  .footerButton {
    width: 100%;
    margin-top: -1rem!important;

    .support-btn {
      width: 90%;
    }
  }
  .feuillet {
    background-position-x: 4.2rem;
    background-position-y: -1.2rem;
    background-size: 150px 82px;
  }
  .title-feuillet {
    font-size: 23px !important;
  }
  .block-feuillet {
    margin: -1.4rem -0.5rem -2.5rem !important;
  }
}
@media (max-width: 465px) {
  .fr-header__body {
    height: 175px;
  }
  .fr-header__brand {
    width: 80%;
  }
  .fr-header__service {
    margin-left: 2.75rem !important;
  }
  .feuillet{
    background-size: 170px 82px !important;
  }
}
@media  (max-width: 327px) {
  .fr-btn.fr-fi-close-line.fr-btn--icon-right.fr-btn--sm {
    top: -293px !important;
  }
}

/* Ajustement du footer md*/
@media  (min-width: 933px) and (max-width: 1059px) {
  .marge-cgu {
    padding-left: 0px !important;
  }
}
@media  (min-width: 918px) and (max-width: 947px) {
  .marge-bar-cgu {
    margin-left: 0px !important;
  }
}
@media  (min-width: 688px) and (max-width: 825px) {
  .marge-donnees {
    padding-left: 0px !important;
  }
}
@media  (min-width: 677px) and (max-width: 687px) {
  .marge-bar-donnees {
    padding-left: 0px !important;
  }
}
@media  (min-width: 584px) and (max-width: 616px) {
  .marge-cgu {
    padding-left: 0px !important;
  }
}
@media  (min-width: 578px) and (max-width: 588px) {
  .marge-bar-cgu {
    margin-left: 0px !important;
  }
}
@media  (min-width: 577px) and (max-width: 626px) {
  .marge-mention {
    padding-left: 0px !important;
  }
}
/* Ajustement du footer xs*/
@media  (min-width: 576px) {
  .marge-mention {
    padding-left: 0px !important;
  }
}
@media  (min-width: 529px) and (max-width: 575px) {
  .marge-cgu {
    padding-left: 0px !important;
  }
}
@media  (min-width: 524px) and (max-width: 532px) {
  .marge-bar-cgu {
    margin-left: 0px !important;
  }
}
@media  (min-width: 376px) and (max-width: 447px) {
  .marge-donnees {
    padding-left: 0px !important;
  }
}
@media  (min-width: 371px) and (max-width: 380px) {
  .marge-bar-donnees {
    margin-left: 0px !important;
  }
}
@media  (min-width: 320px) and (max-width: 328px) {
  .marge-responsive {
    padding-left: 9px;
  }
}
@media (max-width: 400px) {
  .sexe-age-btn {
    width: 235px !important;
  }
}
