.menu-btn {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
  border-radius: 40px;
  font-weight: 600;
  height: 64px;
  --color-hover: #fff !important;
  &:hover {
    background-color: #fff !important;
    color: #1e1e1e !important;
  }
}

.big-btn {
    display: inline-block;
    padding: 1.5rem;
    border: none;
    border-radius: 50px;
    width: 85%;
    color: black;
}

.choosePassword p, .validationAccount p {
  margin-bottom: 0;
}

.invalid {
  color: #FF3333;
}

.support-btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  width: 60%;
  color: white!important;
  font-size: small;
  padding: 0.5rem;
}

.titrage {
  font-size: 56px!important;
  line-height: 1.25em!important;
}

/* custom point de rupture LG du DS */
@media (min-width: 992px) {

  .avatarConseiller {
    margin-left: 0!important;
  }

}

/* custom point de rupture XS du DS */
@media (max-width: 576px) {

  .avatar {
    margin-left: 32px!important;
  }

  .avatarCoordinatrice {
    margin-right: 32px!important;
  }

  .logoFooter {
    margin-bottom: 32px;
  }

  .finalButton {
    width: 80%!important;
  }

  .footerButton {
    width: 100%;
    margin-top: -1rem!important;

    .support-btn {
      width: 90%;
    }

  }

}
