.welcome {
  font-family: Marianne;
  background-color: #2e2e2e;
  letter-spacing: 0;
  .fond-sombre {
    background-color: #232323;
  }
  .titre {
    font-size: 1.25em;
    line-height: 2em;
    font-weight: 400;
    color: #fff;
  }
  .hexagone {
    margin-right: 16px;
    position: relative;
    height: 32px;
    width: 28px;
    top: 9px;
  }
  .menu-btn {
    line-height: 1.5rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    a {
      box-shadow: none;
    }
  }
  .information {
    position: relative;
    top: 2px;
    left: 5px;
  }
  .infobulle {
    padding: 20px 16px 28px 16px !important;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    line-height: 22px;
    color: #1e1e1e;
    font-size: 16px;
    height: 266px;
    width: 584px;
    ul {
      padding-left: 16px;
      text-align: left;
    }
  }
  .icone-btn {
    display: block;
    margin: auto;
  }
  .icone-cra {
    height: 63px;
    width: 93px;
    margin-bottom: 14px;
  }
  .icone-mattermost {
    height: 86px;
    width: 90px;
    margin-top: -10px;
  }
  .icone-ressourcerie {
    height: 69px;
    width: 83px;
    margin-bottom: 8px;
  }
  .icone-statistiques{
    margin-bottom: 8px;
    margin-top: -8px;
  }
  .icone-pix, .icone-rdv-solidarites {
    height: 64px;
    width: 86px;
    margin-bottom: 13px;
  }
  .icone-mail {
    height: 64px;
    width: 84px;
    margin-bottom: 12px;
  }
  .icone-lieux {
    margin-bottom: -30px;
  }
  .bloc-document {
    background-color: #1e1e1e;
    border-radius: 20px;
  }
  .document-btn, .kit-communication-btn {
    background-color: transparent;
    border: 2px solid #8585F6;
    display: inline-block;
    border-radius: 40px;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 15px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    color: #8585F6;
    height: 64px;
    width: 429px;
    box-shadow: none;
  }
  .document-btn {
    margin-left: 4.5rem;
  }
  .kit-communication-btn{
    width: 326px;
    margin-left: 8.5rem;
  }
  .kit-communication-text {
    margin-left: 1rem;
  }
  .kit-communication-text, .document-text {
    font-family: Helvetica;
    font-size: 14px;
    color: #929292;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .img-home {
    width: 588px;
  }
  .propos-btn {
    border: 1px solid #8585f6;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0;
    padding: 8px 24px;
    margin-top: -10px;
    color: #8585f6;
    font-size: 16px;
    height: 40px;
    box-shadow: none;
  }
  .center-button {
    text-align: center;
  }
  .icone-info-rappel {
    font-size: 2rem;
    padding-inline-end: 11px;
    color: orange;
    margin-block: 20px;
  }
  .margin-info {
    margin-block: 20px;
  }
  .div-info-rappel-hierarchique {
    background: #3b3b3c;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-around;
    border: solid 1px
  }
  .img-home-futur {
    width: 588px;
    margin-left: 1rem;
    border-radius: 12px;
  }

  .espacement-centre-groupe-icon {
    justify-content: center;
  }

  @media (max-width:  1436px) {
    .img-home-futur {
      width: 90%;
    }
  }
  @media (min-width: 768px) and (max-width: 1220px ) {
    .img-home {
      width: 90%;
    }
  }
  @media (min-width: 992px) and (max-width:  1033px) {
   .propos-btn {
    height: 70px;
   }
  }
  @media (max-width:  978px) {
    .document-btn, .kit-communication-btn {
      font-size: 11px;
      width: 77%;
      height: 10%;
    }
    .kit-communication-btn {
      margin-left: 2.2rem;
    }
    .document-btn {
      margin-left: 1.5rem;
    }
    .document-text, .kit-communication-text {
      font-size: 11px;
      max-width: 360px;
    }
    .img-home-futur {
      width: 92%;
      margin-left: 2rem;
    }
  }
  @media (max-width: 767px) {
    .img-home, .document-btn, .kit-communication-btn {
      width: 100%;
    }
    .document-btn, .kit-communication-btn {
      font-size: 13px;
      width: 95%;
      margin-left: 0.5rem;
    }
    .document-text, .kit-communication-text {
      font-size: 11px;
      max-width: 350px;
      margin-left: 0;
    }
    .img-home-futur {
      width: 100%;
      margin-left: 0;
    }
    .espacement-centre-groupe-icon {
      justify-content: normal;
    }
  }
  @media (max-width: 700px) {
    .infobulle {
      width: 300px;
      height: 400px;
    }
  }
  @media (max-width: 524px) {
    .propos-btn {
      height: 70px;
     }
  }
}
