.welcome {
  font-family: Marianne;
  background-color: #2e2e2e;
  letter-spacing: 0;
  .fond-sombre {
    background-color: #232323;
  }

  .block-cra {
    border: 1px solid #3558a2;
    border-radius: 20px;
    height: 280px;
    width: 346px;
    .saisie-cra,  .historique-cra, .statistiques-cra {
      display: inline-block;
      height: 139px;
      color: #fff;
    }
    .historique-cra, .statistiques-cra {
      background: linear-gradient(60.95deg, #2A2A2A 2.53%, #253574 99.07%), #253574 ;
      border-radius: 0px 0px 20px 0px;
      text-align: center;
      width: 50%;
      &:hover {
        background: linear-gradient(60.95deg, #2A2A2A 2.53%, #518FFF 99.07%), #518FFF;
      }
      img {
        margin-top: 26px;
      }
    }
    .historique-cra {
      border-right: 1px solid #3558a2;
      border-radius: 0px 0px 0px 20px;
      position: relative;
      top: -4px;
      img {
        margin-top: 31px;
      }
    }
    .saisie-cra {
      background: linear-gradient(249.41deg, #3558a2 6.92%, #253574 55.09%, #253574 73.96%), #2a2a2a;
      border-bottom: 1px solid #3558a2;
      border-radius: 20px 20px 0 0;
      font-weight: 700;
      width: 100%;
      &:hover {
        background: linear-gradient(256.6deg, #518FFF 6.81%, #253574 77.17%), #2A2A2A;
      }
      img {
        margin: 22px 12px 0px 32px;
      }
      span {
        position: relative;
        top: -45px;
      }
    }
  }
  .menu-btn {
    line-height: 1.5rem;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    a {
      background-image: none;

    }
  }
  .information {
    position: relative;
    top: 2px;
    left: 5px;
  }
  .infobulle {
    padding: 20px 16px 28px 16px !important;
    background-color: #fff;
    border-radius: 8px;
    text-align: left;
    line-height: 22px;
    color: #1e1e1e;
    font-size: 16px;
    height: 266px;
    width: 584px;
    ul {
      padding-left: 16px;
      text-align: left;
    }
  }
  .icone-btn {
    display: block;
    margin: auto;
    height: 72px;
  }
  .icone-mattermost {
    margin-top: -2px;
    margin-bottom: 14px;
  }
  .icone-la-base, .icone-lieux {
    margin-bottom: 13px;
  }
  .icone-pix, .icone-rdv-aide-numerique {
    margin-bottom: 13px;
  }
  .icone-mail {
    margin-bottom: 12px;
  }
  .icone-info-rappel {
    font-size: 2rem;
    padding-inline-end: 11px;
    color: orange;
    margin-block: 20px;
  }
  .margin-info {
    margin-block: 20px;
  }
  .info-rappel-hierarchique {
    justify-content: space-around;
    background: #3b3b3c;
    padding-inline: 2rem;
    border: solid 1px;
    color: #f0f0f0;
    display: flex;
  }

  @media (max-width: 1000px ) and (min-width: 768px) {
    .bloc-liens {
      margin-left: 27%;
    }
  }

  @media (max-width: 767px ) {
    .block-cra {
      margin: auto;
    }
  }
  @media (max-width: 700px) {
    .infobulle {
      width: 300px;
      height: 400px;
    }
  }
  @media (max-width: 575px) {
    .block-cra {
      width: 284px;
      .saisie-cra {
        span {
          display: inline-block;
          margin-left: 15px;
          width: 40%;
          top: -30px;
        }
      }
    }
  }
}
